#{extends 'main.html' /}
#{set title:'Mon dashboard' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap-tabs.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

    <div class="hero-unit">
        <div class="row">
            <div class="span8">
                <h2>Mon dashboard</h2>
                <div class="row">
                    <div class="span2">
                        #{if member.email}
                        #{gravatar.img member.email, size:100, default:'mm', rating:'pg', secure:true/}
                        #{/if}
                   </div>
                    <div class="span6">
                        <div class="alert-message block-message info">
                            Profil consulté ${member.getNbLooks()} fois.

                            <div class='alert-actions'>
                                <a href="@{Profile.show(session.username)}" class="btn small">Voir mon profil</a>
                                <a href="@{Profile.edit()}" class="btn small">Editer mon profil</a>
                                <a href="@{Profile.delete()}"class="btn small danger" >Supprimer mon compte</a>
                            </div>
                        </div>
                    </div>
                </div>

                #{if suggestedBadges}
                    <h5>Il vous manque <a href="@{badges()}" title="badges manquants">${suggestedBadges.size()} badges</a>.</h5>
                #{/if}

                #{if member.getProposedTalks()}
                    <h5>Mes propositions de sessions :</h5>
                    <ul>
                    #{list items:member.getProposedTalks(), as:'talk'}
                        <li>#{session talk /}</li>
                    #{/list}
                    </ul>
                #{/if}

                #{if member.getLightningTalks()}
                    <h5>Mes lightning talks :</h5>
                    <ul>
                    #{list items:member.getLightningTalks(), as:'lt'}
                        <li><a href="@{LightningTalks.show(lt.id)}">${lt.title}</a> : ${lt.getNumberOfVotes()} vote${lt.getNumberOfVotes().pluralize()}</li>
                    #{/list}
                    </ul>
                #{/if}
                #{if member.getValidatedTalks()}
                    <h5>Mes sessions validées :</h5>
                    <ul>
                    #{list items:member.getValidatedTalks(), as:'talk'}
                        <li>#{session talk /}</li>
                    #{/list}
                    </ul>
                #{/if}
                <!-- FIXME on January the 19th : the ticketing will open on January the 19th, not before!
                #{if member?.ticketingRegistered}
                    <span class="label success">J'ai déjà payé mon billet</span> sur <a target="blank" href="http://www.weezevent.com">Weezevent</a>
                #{/if}
                #{else}
                     <a href="https://www.weezevent.com/widget_billeterie.php?id_evenement=12302&code=30544" onclick="var w=window.open('https://www.weezevent.com/widget_billeterie.php?id_evenement=12302&code=30544', 'Billetterie_weezevent', 'width=650, height=450, top=100, left=100, toolbar=no, resizable=yes, scrollbars=yes, status=no'); w.focus(); return false;"><span class="label important">Je n'ai pas encore payé mon billet!</span></a>
                #{/else}
                    -->
                #{if comments}
                    <h5>Mes commentaires récents :</h5>
                    <ul>
                    #{list items:comments, as:'comment'}
                        <li>${comment.postedAt.since()},
                            #{if comment instanceof models.SessionComment}
                                sur la session #{session comment.session /}
                            #{/if}
                            #{if comment instanceof models.ArticleComment}
                                sur l'<a href="@{Articles.show(comment.article.id)}#comment${comment.id}">article ${comment.article.title}</a>
                            #{/if}
                        </li>
                    #{/list}
                    </ul>
                #{/if}
                
                <div class="row">
                    #{if member.links}
                        <div class="span4">
                            <h4>Vous êtes lié à :</h4>
                            #{list items:member.links, as:'link'}
                               #{member link, short:true /}
                            #{/list}
                        </div>
                    #{/if}
                    #{if member.linkers}
                        <div class="span4">
                            <h4>Ils vous ont lié :</h4>
                            #{list items:member.linkers, as:'link'}
                               #{member link, short:true /}
                            #{/list}
                        </div>
                    #{/if}
                </div>

                <br/>
                <div class="row">
                    <ul class="tabs" data-tabs="tabs">
                    #{if suggestedMembers}
                        <li class="active"><a href="#tabSuggestedMembers">Suggestions de liens</a></li>
                    #{/if}
                    #{if suggestedSessions}
                        <li><a href="#tabSuggestedSessions">Suggestions de sessions</a></li>
                    #{/if}
                    </ul>
                    <div id="tab-content" class="tab-content">
                    #{if suggestedMembers}
                        <div class="tab-pane active" id="tabSuggestedMembers">
                            #{list suggestedMembers, as:'suggest'}
                                <a class="btn primary small" title="Link" href="@{link(suggest.login)}">Link</a>
                                <a href="@{Profile.show(suggest.login)}" title="${suggest}">#{member suggest /}</a>
                                <br/>
                            #{/list}
                        </div>
                    #{/if}
                    #{if suggestedSessions}
                        <div class="tab-pane" id="tabSuggestedSessions">
                            #{list suggestedSessions, as:'suggest'}
                                #{session suggest /}<br/>
                            #{/list}
                        </div>
                    #{/if}
                    </div>
                </div>

            </div>

            <div class="span6" > <!-- timeline -->
                <h2>Activités de vos links</h2>
                <div class="row">
                    <div class="span6">
                        <a class="service-button linkit" id="LinkIt" onClick="handleProvider('LinkIt')"></a>
                        <a class="service-button twitter" id="Twitter" onClick="handleProvider('Twitter')"></a>
                        <a class="service-button google" id="Google" onClick="handleProvider('Google')"></a>
                        (Cliquez pour activer/désactiver un flux)
                    </div>
                    <br/>
                    <br/>
                    <div class="span6">
                        <p id="activities" style="max-height: 400px"></p>
                        <a id="moreActivities" class="btn small" onclick="loadMoreActivities(true)">&{'activities.more'}</a>
                        <img id="activitiesSpinner" class="spinner" src="/public/images/spinner.gif" alt="chargement..." />
                    </div>

                    <script type="text/javascript">
                        var providers = ['${models.ProviderType.values().join("','")}'];
                        var page = 1;
                        var size = 10;
                        var activitiesAction = #{jsAction @Activities.incoming(':providers', ':page',':size') /};
                        var spinner = $('#activitiesSpinner');
                        var btnMoreActivities = $('#moreActivities');

                        function loadMoreActivities(autoscroll) {
                            if (providers.length > 0) {
                                btnMoreActivities.addClass('disabled');
                                spinner.css("visibility", "visible");
                                $.get(activitiesAction({providers: providers.join("${controllers.Activities.PROVIDERS_SEP}"), page: page, size: size}), function(data) {
                                    $('#activities').append(data);
                                    if (data) {
                                        btnMoreActivities.css('visibility','visible');
                                        page++;
                                    } else {
                                        btnMoreActivities.css('visibility','hidden');
                                    }
                                    spinner.css("visibility", "hidden");
                                    btnMoreActivities.removeClass('disabled');
                                    if (autoscroll) {
                                        $("#activities").animate({ scrollTop: $("#activities").attr("scrollHeight") - $('#activities').height() }, 1000);
                                    }
                                });
                            }
                        }

                        function handleProvider(provider){
                            var contain = providers.indexOf(provider);
                            if(contain != -1){
                                providers = providers.filter(function(x){return x != provider})
                                $('#'+provider).removeClass(provider.toLowerCase()).addClass(provider.toLowerCase()+'-off');
                            }else{
                                providers.push(provider);
                                $('#'+provider).removeClass(provider.toLowerCase()+'-off').addClass(provider.toLowerCase());
                            }
                            $('#activities').empty();
                            page = 1;
                            size = 5;
                            console.log(providers);
                            loadMoreActivities(false);
                        };

                        // Initial loading : first page
                        loadMoreActivities(false);
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        #{list items:articles, as:'article'}
        <div class="span-one-third">
            #{article article /}
        </div>
        #{/list}
    </div>
</div>
