#{extends 'main.html' /}
#{set title:'Gérer vos préférences' /}
#{set 'moreStyles'}
<link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/ui/jquery-ui-1.8.17.custom.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-ui-1.8.17.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script>
    $(function() {
        var availableTimezones = [
        #{list items:timezones, as:'tz'}
            "${tz}"#{if !tz_isLast},#{/if}
        #{/list}
        ];
        $( "#setting_timezone" ).autocomplete({
            source: availableTimezones
        });
    });
</script>
#{/set}

#{form @saveSettings(), role:"form"}
        <fieldset>
            <legend>Notifications par mail</legend>

            #{field 'setting.id'}
                <input id="${field.id}" name="${field.name}" type="hidden" value="${field.value}" />
            #{/}

            #{field 'setting.notificationOption'}
            <div class="radio ${field.error?'has-error':''}">
            #{list items:models.NotificationOption.values(), as:'option'}
                <label>
                    <input type="radio" name="${field.name}" value="${option}" ${setting.notificationOption == option?'checked':''} />
                    &{'NotificationOption.'+option+'.label'}
                </label>
            #{/list}
                <span class="help-block">${field.error}</span>
                <span class="help-block">&{field.name+".note"}</span>
            </div>
            #{/}

            #{field 'setting.timezone'}
            <div class="form-group ${field.error?'has-error':''}">
                <label for="${field.name}">&{field.name}</label> 
                <input id="${field.id}" type="text" name="${field.name}" value="${field.value}" class="form-control" />
                <span class="help-block">${field.error}</span>
                <span class="help-block">&{field.name+".note"}</span>
            </div>
            #{/}

        </fieldset>

        <div class="form-group">
            <input type="submit" class="btn primary" value="Enregistrer"/>
            <a href="@{index()}" class="btn">Annuler</a>
        </div>

#{/form}

