#{extends 'main.html' /}
#{set title:'ADMIN - Planning' /}

#{set 'moreStyles'}
<style>

    table {
        background-color: white;
    }
    td.intermede {
        text-align: center;
    }
    table th {
        text-align: center;
    }
    td {
        border: 1px solid;
    }

</style>
#{/set}

#{form @admin.AdminPlanning.save()}

<h1>Jeudi 25 avril</h1>

<table class="condensed-table">
    <thead>
    <tr>
        <th>Horaire</th>
        <th>Salle 100p</th>
        <th>Salle 100p</th>
        <th>Salle 80p</th>
        <th>Salle 60p</th>
        <th>Salle 25p</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>08H00</th>
        <td colspan="5" class="intermede">&{'planning.welcome'}</td>
    </tr>
    <tr>
        <th>09H00</th>
        <td colspan="5" class="intermede">#{planning.select-session models.planning.Slot.Jeudi_Keynote_AM, planning:planning /}</td>
    </tr>
    <tr>
        <th>09H30</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S1_AM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S2_AM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S3_AM_1, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S4_AM_1, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S5_AM_1, planning:planning /}</td>
    </tr>
    <tr>
        <th>10H30</th>
    </tr>
    <tr>
        <th></th>
        <td colspan="3" class="intermede">&{'planning.break'}</td>
    </tr>
    <tr>
        <th>11H00</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S1_AM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S2_AM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S3_AM_2, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S4_AM_2, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S5_AM_2, planning:planning /}</td>
    </tr>
    <tr>
        <th>12H00</th>
    </tr>
    <tr>
        <th>12H30</th>
        <td colspan="3" class="intermede">&{'planning.lunch'}</td>
    </tr>
    <tr>
        <th></th>
        <td colspan="5" class="intermede">&{'planning.lunch'}</td>
    </tr>
    <tr>
        <th>13H00</th>
        <td colspan="3" class="intermede">Lightnings</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S4_PM_1, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S5_PM_1, planning:planning /}</td>
    </tr>
    <tr>
        <th>13H30</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S1_PM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S2_PM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S3_PM_1, planning:planning /}</td>
    </tr>
    <tr>
        <th>14H30</th>
    </tr>
    <tr>
        <th></th>
        <td colspan="3" class="intermede">&{'planning.break'}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S4_PM_2, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Jeudi_S5_PM_2, planning:planning /}</td>
    </tr>
    <tr>
        <th>15H00</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S1_PM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S2_PM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S3_PM_2, planning:planning /}</td>
    </tr>
    <tr>
        <th>16H00</th>
    </tr>
    <tr>
        <th></th>
        <td colspan="3" class="intermede">&{'planning.break'}</td>
        <td rowspan="6">#{planning.select-session models.planning.Slot.Jeudi_S4_PM_3, planning:planning /}</td>
        <td rowspan="6">#{planning.select-session models.planning.Slot.Jeudi_S5_PM_3, planning:planning /}</td>
    </tr>
    <tr>
        <th>16H30</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S1_PM_3, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S2_PM_3, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S3_PM_3, planning:planning /}</td>
    </tr>
    <tr>
        <th>17H30</th>
    </tr>
    <tr>
        <th></th>
        <td colspan="3" class="intermede">&{'planning.break'}</td>
    </tr>
    <tr>
        <th>18H00</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S1_PM_4, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S2_PM_4, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Jeudi_S3_PM_4, planning:planning /}</td>
    </tr>
    <tr>
        <th>19H00</th>
    </tr>

    </tbody>
</table>

<h1>Vendredi 26 avril</h1>

<table class="condensed-table">
    <thead>
    <tr>
        <th>Horaire</th>
        <th>Salle 100p</th>
        <th>Salle 100p</th>
        <th>Salle 80p</th>
        <th>Salle 60p</th>
        <th>Salle 25p</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>08H00</th>
        <td colspan="5" class="intermede">&{'planning.welcome'}</td>
    </tr>
    <tr>
        <th>09H00</th>
        <td colspan="5" class="intermede">#{planning.select-session models.planning.Slot.Vendredi_Keynote_AM, planning:planning /}</td>
    </tr>
    <tr>
        <th>09H30</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S1_AM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S2_AM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S3_AM_1, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S4_AM_1, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S5_AM_1, planning:planning /}</td>
    </tr>
    <tr>
        <th>10H30</th>
    </tr>
    <tr>
        <th></th>
        <td colspan="3" class="intermede">&{'planning.break'}</td>
    </tr>
    <tr>
        <th>11H00</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S1_AM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S2_AM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S3_AM_2, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S4_AM_2, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S5_AM_2, planning:planning /}</td>
    </tr>
    <tr>
        <th>12H00</th>
    </tr>
    <tr>
        <th>12H30</th>
        <td colspan="3" class="intermede">&{'planning.lunch'}</td>
    </tr>
    <tr>
        <th></th>
        <td colspan="5" class="intermede">&{'planning.lunch'}</td>
    </tr>
    <tr>
        <th>13H00</th>
        <td colspan="3" class="intermede">Ligthning Talks</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S4_PM_1, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S5_PM_1, planning:planning /}</td>
    </tr>
    <tr>
        <th>13H30</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S1_PM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S2_PM_1, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S3_PM_1, planning:planning /}</td>
    </tr>
    <tr>
        <th>14H30</th>
    </tr>
    <tr>
        <th></th>
        <td colspan="3" class="intermede">&{'planning.break'}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S4_PM_2, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S5_PM_2, planning:planning /}</td>
    </tr>
    <tr>
        <th>15H00</th>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S1_PM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S2_PM_2, planning:planning /}</td>
        <td rowspan="2">#{planning.select-session models.planning.Slot.Vendredi_S3_PM_2, planning:planning /}</td>
    </tr>
    <tr>
        <th>16H00</th>
    </tr>
    <tr>
        <th></th>
        <td colspan="3" class="intermede">&{'planning.break'}</td>
        <td rowspan="4">#{planning.select-session models.planning.Slot.Vendredi_S4_PM_3, planning:planning /}</td>
        <td rowspan="4">#{planning.select-session models.planning.Slot.Vendredi_S5_PM_3, planning:planning /}</td>
    </tr>
    <tr>
        <th>16H30</th>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S1_PM_3, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S2_PM_3, planning:planning /}</td>
        <td rowspan="3">#{planning.select-session models.planning.Slot.Vendredi_S3_PM_3, planning:planning /}</td>
    </tr>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th>18H00</th>
    </tr>
    <tr>
        <th>18H30</th>
        <td colspan="5" class="intermede">#{planning.select-session models.planning.Slot.Vendredi_Keynote_PM, planning:planning /}</td>
    </tr>

    </tbody>
</table>

<input type="submit" class="btn large danger " value="Ecraser le planning" />

#{/form}