<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Play! - Cobertura viewer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	</head>
	<body>
		<a href="@{Cobertura.generateReport}"> Generate report</a><br/>
		<a href="@{Cobertura.clear}"> Reset report</a>
		<div id="coberturaResult">
			#{if reportExistTmp}
				<iframe src ="@{'/test-result/code-coverage/index.html'}" width="100%" height="1000">
				</iframe>
			#{/if}
			#{else}
			    <h3>Report is empty</h3>
			#{/else}				
		</div>
	</body>
</html>