#{extends 'main.html' /}
#{set title:'Editer un article' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/limitcountdown.js'}"></script>
<script lang="text/javascript">
    $(function() {
        registerLimited('#article_title', '#article_titleCountdown', 50, "&{'remainingChars'}");
        registerLimited('#article_headline', '#article_headlineCountdown', 255, "&{'remainingChars'}");
    });
</script>
#{/set}

    <div class="row">
            #{form @Articles.save()}
                #{field 'article.id'}
                    <input id="${field.id}" name="${field.name}" type="hidden" value="${field.value}" />
                #{/}

            <fieldset> 
                <legend>Contenu</legend>

                #{field 'article.title'}
                <div class="form-group ${field.error?'error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <input class="form-control" id="${field.id}" name="${field.name}" size="50" maxlength="50" type="text" value="${field.value}" />
                    <span class="help-block" id="${field.id}Countdown">countdown</span>
                    <span class="help-block">${field.error}</span>
                    <span class="help-block">&{field.name+".note"}</span>
                </div>
                #{/}

                #{field 'article.headline'}
                <div class="form-group ${field.error?'error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <textarea class="form-control" id="${field.id}" name="${field.name}" size="50" maxlength="255" rows="3">${field.value}</textarea>
                        <span class="help-block" id="${field.id}Countdown" style="font-weight: bold">countdown</span>
                        <span class="help-block">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'article.content'}
                <div class="form-group ${field.error?'error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <textarea class="form-control" id="${field.id}" name="${field.name}" size="50" rows="20">${field.value}</textarea>
                        <span class="help-block">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

            </fieldset>
            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Enregistrer"/>
                #{if article.id}
                <a href="@{Articles.show(article.id, article.title.slugify())}" class="btn large">Annuler</a>
                #{/if}
                #{else}
                <a href="@{Articles.index()}" class="btn btn-default">Annuler</a>
                #{/else}
            </div>
            #{/form}
    </div>
