#{extends 'main.html' /}
#{set title:article.title /}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>${article.title}</h1>
            <strong>${article.headline}</strong>
        </div>
        <div class="span4">
            Par <a href="@{Profile.show(article.author.login)}">#{member article.author /}</a><br/>
            le ${article.postedAt.format('dd/MM/yyyy à hh:mm')}<br/>
            <br/>
            ${article.getNbLooks()} consultation${article.getNbLooks().pluralize()}<br/>
            <br/>
            #{if article.comments}
            <a href="#comments">${article.comments.size()} commentaire${article.comments.size().pluralize()}</a>
            #{/if}
        
            #{secure.check models.Role.ADMIN_ARTICLE}
            <p>
                Staff : <a class="btn danger" href="@{Articles.edit(article.id)}">Editer cet article</a>
            </p>
            #{/secure.check} 
        </div>
    </div>

    <div class="row">
        
        <blockquote class="article content">
            ${article.content.markdown().raw()}
            <br/><br/>
            <small>Posté par <a href="@{Profile.show(article.author.login)}">#{member article.author /}</a> le ${article.postedAt.format('dd/MM/yyyy à hh:mm')}</small>
        </blockquote>
        
        <p>
            #{if following} >>> <a href="@{Articles.show(following.id)}">Article suivant : ${following.title}</a><br/> #{/if}
            #{if previous} <<< <a href="@{Articles.show(previous.id)}">Article précédent : ${previous.title}</a> #{/if}
        </p>
        
        #{comments article.comments /}

        <hr/>
        <section id="post">
            #{if session.username}
            <div class="row">
                #{form @Articles.postComment(article.id)}

                #{field 'content'}
                <div class="clearfix ${field.error?'error':''}"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input offset3"> 
                        <textarea class="xxlarge" id="${field.id}" name="${field.name}" rows="5">${params.content}</textarea>
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div>
                </div>
                #{/}
                <div class="actions">
                    <input type="submit" class="btn primary large" value="Poster votre commentaire"/>
                </div>
                #{/form}
            </div>
            #{/if}
            #{else}
            <a href="@{Login.index(request.url+'#post')}">Connectez-vous pour commenter cet article</a>
            #{/else}
        </section>
    </div>
</div>
