#{extends 'main.html' /}
#{set 'canonical'}@@{Articles.show(article.id, article.title.slugify())}#{/set}
#{set title:article.title /}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 itemprop="name">${article.title}</h2>
        <strong itemprop="description">${article.headline}</strong>
    </div>
</div>

<div class="row">    
    #{secure.check models.Role.ADMIN_ARTICLE}
    <div class="alert alert-warning col-md-8 col-md-offset-2">
        #{if !article.valid}
        Cet article n'est pas publié.
        #{/if}
        #{if article.valid}
        <a href="@{Articles.unvalidate(article.id)}" class="btn btn-default">Invalider</a>
        #{/if}
        #{else}
        <a href="@{Articles.validate(article.id)}" class="btn btn-primary">Publier</a>
        #{/else}
        <a href="@{Articles.edit(article.id)}" class="btn btn-default">Editer</a>
        <a href="@{Articles.delete(article.id)}" class="btn btn-danger">Supprimer</a>
    </div>
    #{/secure.check}
</div>

<br/>
<br/>

<div class="row">
    <div class="article content col-md-8 col-md-offset-2">
        #{markdown article.content /}
        <br/>
        <small>Posté par <a href="@{Profile.show(article.author.login)}">#{member article.author /}</a> le ${article.postedAt.format('dd/MM/yyyy à hh:mm')}</small>
    </div>
    <br/>
    <div class="col-md-8 col-md-offset-2">
    ${article.getNbLooks()} consultation${article.getNbLooks().pluralize()}
    #{if article.comments}
        - <a href="#comments">${article.comments.size()} commentaire${article.comments.size().pluralize()}</a>
    #{/if}
    &mdash; #{socialbar/}
    </div>
</div>

#{if previous || following}
<div class="row">
    <div class="col-md-6">
        #{if previous}<p><a id="previous" class="btn btn-default" data-toggle="tooltip" title="&{'article.previous'}" href="@{Articles.show(previous.id, previous.title.slugify())}">&laquo;&nbsp;${previous}</a></p>#{/if}&nbsp;
    </div>
    <div class="col-md-6" style="text-align: right">
        #{if following}<p><a class="btn btn-default" data-toggle="tooltip" title="&{'article.following'}" href="@{Articles.show(following.id, following.title.slugify())}">${following}&nbsp;&raquo;</a></p>#{/if}
    </div>
</div>
#{/if}

#{comments article.comments /}

<section id="post">
#{if session.username}
    #{form @Articles.postComment(article.id), class:'form-inline'}
        <div class="row">
            #{field 'content'}
                <div class="clearfix ${field.error?'error':''}">
                    <label for="${field.name}" class="col-md-2">&{field.name}</label>
                    <div class="input col-md-10">
                        <textarea class="xxlarge" id="${field.id}" name="${field.name}" rows="5">${params.content}</textarea>
                        <span class="help-block">${field.error}</span>
                        <span class="help-block pull-right">&{field.name+".note"}</span>
                    </div>
                </div>
            #{/}
        </div>
        <div class="row">
            <div class="actions col-md-2 col-md-offset-5">
                <input type="submit" class="btn btn-primary large" value="Poster votre commentaire"/>
            </div>
        </div>
    #{/form}
#{/if}
#{else}
    <a href="@{Login.index(request.url+'#post')}" title="Se connecter">Connectez-vous</a> pour commenter cet article.
#{/else}
</section>

