.markdown h1,h2,h3,h4,h5,h6{border:0;}
.markdown h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}
.markdown h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
.markdown h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}
.markdown h3{margin-top:1em;}
.markdown p{margin:1em 0;line-height:1.5em;}
.markdown ul{margin:1em 0 1em 2em;}
.markdown ol{margin:1em 0 1em 2em;}
.markdown ul li{margin-top:.5em;margin-bottom:.5em;}
.markdown ul ul,ul ol,ol ol,ol ul,{margin-top:0;margin-bottom:0;}
.markdown blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
.markdown dt{font-weight:bold;margin-left:1em;}
.markdown dd{margin-left:2em;margin-bottom:1em;}
.markdown table{margin:1em 0;}
.markdown table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
.markdown table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
.markdown pre{margin:1em 0;font-size:12px;background-color:#f8f8ff;border:1px solid #dedede;padding:.5em;line-height:1.5em;color:#444;overflow:auto;}
.markdown pre code{padding:0;font-size:12px;background-color:#f8f8ff;border:none;}
.markdown code{font-size:12px;background-color:#f8f8ff;color:#444;padding:0 .2em;border:1px solid #dedede;}
.markdown a{color:#4183c4;text-decoration:none;}
.markdown a:hover{text-decoration:underline;}
.markdown a code,a:link code,a:visited code{color:#4183c4;}
.markdown img{max-width:100%;}