<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /} - &{'event.'+models.ConferenceEvent.CURRENT}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="@@{'/public/stylesheets/linkit.less'}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <a href="@@{Application.index()}"><img style="vertical-align: top;" src="@@{'/public/images/mini-mixit.png'}" /></a>
                &nbsp;-&nbsp;
                &{'event.'+models.ConferenceEvent.CURRENT+'.date'}
            </div>
            <hr>
            <div class="row">
                #{doLayout /}
            </div>
        </div><!-- /.container -->
    </body>
</html>
