@mixitDarkGrey : #7F7F7F;
@mixitLightGrey : #F8F8F8;
@mixitBlue : #00ADEE;
@mixitDarkBlue : #005676;

@warnColor : lighten(#C43C35, 40%);
@infoColor : lighten(#c09853, 30%);

.home-row {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}


#previously {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  line-height: 0.1em;
  margin-bottom: 25px;
}

#previously span {
  background: white;
  padding: 0 10px;
  color: #5A5A5A;
}

.row.headers {
  .home-row;
}

.speakers {
  .home-row;
}

.headers {
  h3 {
    color: #5A5A5A;
  }
}

.featurette-image {
  max-width: 100%;
}

.featurette-heading {
  color : #5A5A5A;
  letter-spacing : -1px;
  font-size: 30px;
}

.lead {
  color: #5A5A5A;
}

.row.featurette1 {
  .home-row;
}

.row.featurette2 {
  .home-row;
}

.row.featurette3 {
  .home-row;
}

.container.home-page {
  max-width: 100%;
  padding: 0 15px;
  margin: 0;
}
body {
  padding-top: 70px;
}

.sharedLink img {
  height: 24px;
  width: 24px;
  margin-right: 3px;
  vertical-align: middle;
}

hr.featurette-divider {
  margin-top: 3em;
  margin-bottom: 3em;
}

h2 {
  font-size: 24px;
}


#sessionDetails {
  .background-highlight {
    background-color: @mixitLightGrey;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding : 0px 40px 0px 40px;
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      font-weight: bold;
    }

    blockquote, blockquote p{
      font-size: 14px;
      text-align: justify;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  .row {
    margin-bottom: 10px;
  }

}

@colorTrackAgility: lighten(#C43C35, 30%);
@colorTrackTechy:   lighten(#0064CD, 40%);
@colorTrackTrendy:  lighten(#62c462, 20%);
@colorTrackGamy:    lighten(#339BB9, 30%);
@colorTrackWeby:    #9DF8FC; // ? quelle couleur choisie?

.track-display(@trackColor: transparent) {
  border-left: 5px solid;
  padding-left: 50px;
  border-color: @trackColor;
  margin-bottom: 3px;
}

.track.Agility {
  .track-display(@colorTrackAgility);
}
.track.Techy {
  .track-display(@colorTrackTechy);
}
.track.Trendy {
  .track-display(@colorTrackTrendy);
}
.track.Gamy {
  .track-display(@colorTrackGamy);
}
.track.Weby {
  .track-display(@colorTrackWeby);
}

.label.interest {
  background-color: @mixitBlue;
}

.alert-message {
  &.warning{
    background-color: @warnColor;
  }
  &.info{
    background-color: @infoColor;
  }
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

#activities {
  overflow: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 100px;
}
#activities .activity {
  overflow: auto;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  padding-top: 5px;
  border-top: 1px solid;
  border-color: #DCDCDC;
  width: 100%;
}

#activities .activity:hover {
  background-color: #DCDCDC;
}

.xxlarge {
  width: 100%;
}