.badge {
    max-width: 25px;
    max-height: 25px;
    margin: 1px;
    font-size: x-large;
}

#activities {
    overflow: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 100px;
}

#activities .activity {
    overflow: auto;
    text-overflow: ellipsis;
    display: inline-block;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 3px;
	padding-top: 5px;
	border-top: 1px solid;
	border-color: #DCDCDC;
}

#activities .activity:hover {
    background-color: #DCDCDC;
}


.member {
    vertical-align: top;
    display: inline-block;
    height: 20px;
}

.checkbox { float: left; width: 31%; margin-right: 1% }

.newline { clear: left }

.active {color: black;}
.inactive {color: gray;}
