@mixitDarkGrey : #7F7F7F;
@mixitLightGrey : #F8F8F8;
@mixitBlue : #00ADEE;
@mixitDarkBlue : #005676;

.home-row {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}


#previously {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  line-height: 0.1em;
  margin-bottom: 25px;
}

#previously span {
  background: @mixitDarkBlue;
  padding: 0 10px;
}

.row.headers {
  .home-row;
}

.speakers {
  .home-row;
  color : @mixitLightGrey;
  background-color: @mixitDarkBlue;

}
.row.featurette1 {
  .home-row;
    background-color: #66cdf4;
}

.row.featurette2 {
  .home-row;
  background-color: @mixitBlue;
}

.row.featurette3 {
  .home-row;
  background-color: #cceefb;
}

.container.home-page {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
body {
  padding-top: 70px;
}

.sharedLink img {
  height: 24px;
  width: 24px;
  margin-right: 3px;
  vertical-align: middle;
}

hr.featurette-divider {
  margin-top: 3em;
  margin-bottom: 3em;
}