.badge {
    max-width: 25px;
    max-height: 25px;
    margin: 1px;
    font-size: x-large;
}

#activities {
    overflow: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 100px;
}

#activities .activity {
    overflow: auto;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-top: 5px;
    border-top: 1px solid;
    border-color: #DCDCDC;
    width: 100%;
}

#activities .activity:hover {
    background-color: #DCDCDC;
}

.member {
    vertical-align: top;
    display: inline-block;
    height: 20px;
}

.sponsors {
}

.sponsor {
}

.checkbox {
    float: left;
    width: 31%;
    margin-right: 1%
}

.newline {
    clear: left
}

.active {
    color: #00cc00;
}

.inactive {
    color: gray;
}

.vote-counter {
    display: inline-block;
    color: lightslategray;
    font-weight: bold;
    font-size: 150%;
}

.vote-up {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 120%;
}

