#{extends 'main.html' /}
#{set title:'Editer un lightning talk' /}
#{set 'moreScripts'}
<script lang="text/javascript">
    $(function() {

        // Autocomplete fields
        var initTypeahead = function(typeaheadId, checkboxClass, values, onNewElement) {
            var $typeahead = $('#'+typeaheadId);
            $typeahead.typeahead({
                name: typeaheadId,
                local: values
            });
            $typeahead.on('typeahead:selected', function (object, datum) {
                addElement(datum.value);
            });

            $typeahead.on('typeahead:autocompleted', function (object, datum) {
                addElement(datum.value);
            });

            $typeahead.on('blur', function () {
                var typeaheadValue = $(this).val();
                if ( typeaheadValue ) {
                    onNewElement(typeaheadValue);
                }
                $typeahead.typeahead('setQuery', '');
            });

            // Warning : this will not handle homonyms !!
            var addElement = function(name) {
                var $span = $('.'+checkboxClass+' > span').filter(function() {
                    return $(this).text() === name;
                });

                var $label = $span.parent();
                var $input = $label.find('input[type=checkbox]');

                $label.show();
                $typeahead.typeahead('setQuery', '');
                $input.prop('checked', true);
            };

            // Show already checked
            $('.'+checkboxClass+' input[type=checkbox]:checked').parent().show();
        };

        // Triggered when an interest is not found in checkboxes => adds it in new interests input
        var onNewInterest = function(interestName) {
            var currentValue = $('#talk_newInterests').val();
            if ( currentValue ) {
                currentValue = currentValue + ', ';
            }
            $('#talk_newInterests').val(currentValue + interestName);
        }

        initTypeahead('interests-typeahead', 'interest-checkbox', ['#{list items:models.Interest.findAllOrdered(), as:'i'}${i.toString().escapeJavaScript().raw()}#{if !_isFirst}','#{/if}#{/list}'], onNewInterest);
    });

</script>
#{/set}
#{dirtyDialog/}

<div class="container">
    <div class="page-header"> 
        <h1>Saisie d'un lightning talk</h1>
    </div>
    <div class="row"> 
        <div class="span16 columns"> 
            #{form @LightningTalks.save()}
                #{field 'talk.id'}
                    <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="hidden" value="${field.value}" />
                #{/}

            <fieldset> 
                <legend>&{'talk.descriptive.section'}</legend>

                #{field 'talk.title'}
                <div class="clearfix ${field.error?'has-error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" />
                        <span class="help-block">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div>
                </div>
                #{/}

                #{field 'talk.lang'}
                    <div class="clearfix ${field.error?'has-error':''}">
                        <label for="${field.id}">&{field.name}</label>
                        <div class="input">
                            #{select field.name, value:field.value}
                                #{option ''}#{/option}
                                #{list items:models.TalkLanguage.values(), as:'language'}
                                    #{option language}&{'enum.TalkLanguage.'+language}#{/option}
                                #{/list}
                            #{/select}
                            <span class="help-block">${field.error}</span>
                            <span class="help-block">&{field.name+".note"}</span>
                        </div>
                    </div>
                #{/}

                #{field 'talk.summary'}
                <div class="clearfix ${field.error?'has-error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" /> 
                        <span class="help-block">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'talk.description'}
                <div class="clearfix ${field.error?'has-error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <textarea class="xxlarge" id="${field.id}" name="${field.name}" size="50" rows="20">${field.value}</textarea>
                        <span class="help-block">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

            </fieldset>
            <fieldset>
                <legend>Intérêts</legend>

                #{field 'talk.interests'}
                <div class="clearfix ${field.error?'has-error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input">
                        <input id="interests-typeahead" type="text" class="form-control" />

                        #{list items:models.Interest.findAllOrdered(), as:'interest'}
                            <div>
                                <label style="display: none;" class="interest-checkbox" >
                                    <input type="checkbox" name="interests" value="${interest.name}" ${talk?.interests.contains(interest)?'checked':''} />
                                    <span>${interest}</span>
                                </label>
                            </div>
                        #{/list}

                        <span class="help-block newline">${field.error}</span>
                        <span class="help-block newline">&{field.name+".note"}</span>
                    </div>

                </div><!-- /clearfix -->

                #{/}

                #{field 'talk.newInterests'}
                <div class="clearfix ${field.error?'has-error':''}">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="newInterests" size="200" type="text" value="${newInterests}" /> 
                        <span class="help-block">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}
            </fieldset>
            <div class="actions">
                <input type="submit" class="btn primary large" value="&{'button.save'}"/>
                <a href="@{LightningTalks.list()}" class="btn large">&{'button.cancel'}</a>
            </div>
            #{/form}
        </div>
    </div>
</div>