#{extends 'main.html' /}
#{set title:'Editer un lightning talk' /}

<div class="container">
    <div class="page-header"> 
        <h1>Saisie d'un lightning talk</h1>
    </div>
    <div class="row"> 
        <div class="span16 columns"> 
            #{form @LightningTalks.save()}
                #{field 'talk.id'}
                    <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="hidden" value="${field.value}" />
                #{/}

            <fieldset> 
                <legend>Descriptif</legend>

                #{field 'talk.title'}
                <div class="clearfix ${field.error?'error':''}"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" />
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div>
                </div>
                #{/}

                #{field 'talk.summary'}
                <div class="clearfix ${field.error?'error':''}"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'talk.description'}
                <div class="clearfix ${field.error?'error':''}"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <textarea class="xxlarge" id="${field.id}" name="${field.name}" size="50" rows="20">${field.value}</textarea>
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

            </fieldset>
            <fieldset>
                <legend>Intérêts</legend>

                #{field 'talk.interests'}
                <div class="clearfix ${field.error?'error':''}"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 

                        <ul class="inputs-list">
                            #{list items:models.Interest.findAllOrdered(), as:'interest'}
                            <span class="checkbox">
                                <li><label><input type="checkbox" name="interests" value="${interest.name}" ${talk?.interests.contains(interest)?'checked':''} /> <span>${interest.name}</span></label></li>
                            </span>

                            #{/list}
                        </ul>                        
                        <span class="help-inline newline">${field.error}</span>
                        <span class="help-block newline">&{field.name+".note"}</span>
                    </div>

                </div><!-- /clearfix -->

                #{/}

                #{field 'talk.newInterests'}
                <div class="clearfix ${field.error?'error':''}"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="newInterests" size="200" type="text" value="${newInterests}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}
            </fieldset>
            <div class="actions">
                <input type="submit" class="btn primary large" value="Enregistrer"/>
                <a href="@{LightningTalks.list()}" class="btn large">Annuler</a>
            </div>
            #{/form}
        </div>
    </div>
</div>