#{extends 'main.html' /}
#{set title:'Session ' + talk.title + ' - Mix-IT' /}
<script src="@{'/public/javascripts/vote.js'}"></script>
<script>
    var voteAction = #{jsAction @vote(':talk', ':member', ':value') /}
</script>
<div class="container">
    <div class="hero-unit">
        <h1>${talk.title}</h1>
        <p>${talk.summary}</p>
        #{if talk.hasSpeaker(session.username)}<a class="btn" href="@{LightningTalks.edit(talk.id)}">Editer</a>&nbsp;<a class="btn" href="@{LightningTalks.delete(talk.id)}">Supprimer</a>#{/if}
        <div class="vote-counter" id="counter-${talk.id}">${talk.getNumberOfVotes()}</div>
        #{if session.username && !talk.hasSpeaker(session.username)}
            <div id="vote-${talk.id}" class="vote-up #{if talk.hasVoteFrom(session.username)}inactive#{/if}#{else}active#{/else}" onclick="vote(${talk.id}, '${session.username}')">+1</div>
        #{/if}
    </div>
    <div class="content">
        <div class="row">
            <div class="span3">
                <h4>Speaker</h4>
                <p>
                    #{if talk.speaker.email}
                        <a href="@{Profile.show(talk.speaker.login)}">#{gravatar.img talk.speaker.email, default:'mm', rating:'pg', secure:true/}</a>
                    #{/if}
                    <br/>
                    <a href="@{Profile.show(talk.speaker.login)}">${talk.speaker}</a>
                </p>

                <h4>Intérêts</h4>
                <p>
                    #{list items:talk.interests, as:'interest'}
                        <a href="@{Application.sessionsAndMembersByInterest(interest.name)}"><span class="label notice">${interest}</span></a>
                    #{/list}
                </p>
                <h4>Activité récente</h4>
                <div id="activities">
                #{activities activities:activities /}
                </div>
            </div>
            <div class="span13">
                ${talk.description?.markdown().raw()}
            </div>
        </div>
    </div>
</div>
