#{extends 'main.html' /}
#{set title:'Modérer les intérêts' /}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
<script >
    $(function() {
        $("table#sortSession").tablesorter({sortList: [[0,0]], headers: { 1:{sorter: false}}});
    });
</script>
#{/set}

<div class="alert alert-info">
    <h3>Ami du staff, tu peux modérer les intérêts de deux façons:</h3>
    <h5>
        <ul>
            <li><strong>Suppression</strong> définitive des intérêts</li>
            <li><strong>Fusion d'intérêts</strong>: il est possible, par exemple, de merger les intérêts "Agile" et
                "Agilité" pour ne garder que l'intérêt "Agilité"
            </li>
        </ul>
    </h5>
</div>


#{form @Interests.delete()} 

<div class="row">
    <fieldset>
    <div class="col-md-12 columns">
        #{field 'interests'}
        <div class="clearfix ${field.error?'has-error':''}">
            <table class="zebra-striped" id="sortSession"> 
                <thead> 
                    <tr> 
                        <th>
                            <div style="text-align: center">Intérêt</div>
                        </th> 
                        <th>
                            <div class="alert-actions" style="text-align: center">
                                <input type="submit"  class="btn small btn-danger" value="Supprimer"/>
                                <input type="submit" formaction="@{Interests.chooseInterestForMerge()}"  class="btn btn-default small" value="Fusionner"/>
                            </div>
                        </th>
                    </tr> 
                </thead> 
                <tbody>       
                    #{list items:models.Interest.findAllOrdered(), as:'interest'}
                    <tr>
                        <td><a href="@{Application.searchByInterest(interest.name)}" rel='twipsy' title="A quoi est linké cet intérêt?" data-html="true">'${interest}'</a>
                            <a href="@{Interests.rename(interest.id)}" class="btn small">Renommer</a>
                        </td>
                        <td>
                            <div style="text-align: center"><input style="height: 25px;width: 25px;" type="checkbox" name="interestsToBeDeleted" value="${interest.id}" /></div>
                        </td>
                    </tr>
                #{/list}
                </tbody> 
            </table>
            <span class="help-inline newline">${field.error}</span>
        </div><!-- /clearfix -->
        #{/field}
        </fieldset>
    </div>
</div>

#{/form}
