#{extends 'main.html' /}
#{set title:'Fusionner les intérêts' /}


<p>
<h4>Tu as choisi de fusionner les intérêts suivants, choisi celui que tu souhaites conserver:</h4>
</p>


#{form @Interests.merge()} 

<div class="row">
    <fieldset>
        <div class="span16 columns">
            #{field 'interests'}
            <div class="clearfix ${field.error?'error':''}">
                <div class="input"> 
                    <ul class="inputs-list">
                        #{list items:interests, as:'interest'}
                        <span class="checkbox">
                            <li><label><input type="radio" name="survivorInterestId" value="${interest.id}" /> <span>${interest}</span></label></li>
                        </span>
                        #{/list}
                    </ul>                        
                    <span class="help-inline newline">${field.error}</span>
                </div>
            </div><!-- /clearfix -->
            #{/field}
            <input type="hidden" name="interests" value="#{list items:interests, as:'interest'}${interest.id},#{/list}"/>
        </div>
    </fieldset>
    <div class="alert-actions" style="text-align: center">
        <input type="submit"  class="btn small" value="Fusionner"/>
    </div>
</div>

#{/form}
