*{ Display all _arg comments }*

#{if _arg}
    <section id="comments">
        <h4>Vos commentaires :</h4>
        #{list items:_arg, as:"comment"}
        <section id="comment${comment.id}">
            <div class="row">
                <div class="col-md-3">
                    #{member comment.author /}<br/>
                    ${comment.postedAt.format('dd/MM/yyyy hh:mm:ss')}
                </div>
                <div class="col-md-9">
                    <p>#{markdown comment.content /}</p>
                </div>
            </div>
        </section>
        <hr/>
        #{/list}
    </section>
#{/if}
