*{ Display all _arg comments }*

#{if _arg}
    <section id="comments">
        <h3>Vos commentaires :</h3>
        #{list items:_arg, as:"comment"}
        <hr/>
        <section id="comment${comment.id}">
            <div class="row">
                <div class="span3">
                    #{member comment.author /}<br/>
                    ${comment.postedAt.format('dd/MM/yyyy hh:mm:ss')}
                </div>
                <div class="span13">
                    <p>${comment.content.markdown().raw()}</p>
                </div>
            </div>
        </section>
        #{/list}
    </section>
#{/if}
