*{ Display all sessions "lightning" }*
<script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
<script src="@{'/public/javascripts/vote.js'}"></script>
<script>
    $(function () {

        $("table#sortSession").tablesorter({
            textExtraction: function(node) {

                var order = $(node).children(".order").html();
                if (!order) order = $(node).html();
                return order;
            }

        });
    });

    var voteAction = #{jsAction @Votes.vote(':talk', ':value') /};
</script>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" id="sortSession">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Speaker(s)</th>
                    <th>Vote</th>
                </tr>
            </thead>
            <tbody>
                #{list items:_sessions, as:'talk'}
                <tr>
                    <td>
                        #{lang-flag talk.lang/}<a href="@{LightningTalks.show(talk.id, talk.title.slugify())}">${talk}</a>
                    </td>
                    <td>
                        #{list items:talk.speakers, as:'speaker'}
                        #{member speaker /}#{if !speaker_isLast}, #{/if}
                        #{/list}
                    </td>
                    <td>
                        #{vote talk /}
                    </td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
</div>