*{
    Display a member.
    Parameters :
    - default _arg : the member
}*
<div class="row">
    <div class="col-md-12 hero-unit member-card">
        <div class="row">
            <div class="col-md-2 col-xs-4 text-center h2-margins" >
                #{if _arg instanceof models.Sponsor}
                    <img src="${_arg.logoUrl}" style="max-width: 100px; max-height: 100px" alt="Logo ${_arg}" />
                #{/if}
                #{else}
                    #{if _arg.email}
                        #{gravatar.img _arg.email, size:100, default:'mm', rating:'pg', secure:true/}
                    #{/if}
                #{/else}
            </div>
            <div class="col-md-10 col-xs-8">
                <div class="row">
                    <div class="col-md-12" style="padding-left:0px">
                        <h2>
                            #{if _arg.ticketingRegistered}<i class="icon-check" style="color: green"></i> #{/if}
                            <a href="@{Profile.show(_arg.login)}" #{if !(session.username || _arg.publicProfile)}rel='twipsy' data-placement="right" title="Connectez-vous pour consulter son profil complet."#{/if}>${_arg}</a>
                        </h2>
                    </div>
                </div>
                #{if _arg instanceof models.Sponsor}
                <div class="row">
                  <i>Sponsor ${_arg.level}</i>
                </div>
                #{/if}
                <div class="row">
                    #{markdown _arg.shortDescription /}
                </div>
                <div class="row">
                    #{list items:_arg.getOrderedAccounts(), as:'account'}
                        <a class="service-button ${account.provider.name().toLowerCase()} active" id="account${account.provider}" href="${account.url()}" rel="twipsy" title="&{'provider.'+account.provider.name()}"></a>
                    #{/list}
                    #{if _arg.sharedLinks}
                        #{list items:_arg.sharedLinks, as:'link'}
                            <a class="sharedLink" href="${link.URL}" rel="twipsy" title="${link.name.escapeHtmlAttr()}" target="_blank"><img src="https://getfavicon.appspot.com/${link.URL.urlEncode()}"/></a>
                        #{/list}
                    #{/if}
                </div>
            </div>
        </div>
</div>
</div>
