*{
    Display a member.
    Parameters :
    - default _arg : the member
    - static : (default value false) if false, member is a clicable link to his profile, a twipsy display his shortDescription
    - short : (default value false) if false, name is not displayed, only in twipsy.
    - elementId : (option) id of DOM element
}*
<span class="member">
#{if !_static}
<a id="#{if _elementId}${_elementId}#{/if}#{else}member${_arg.login}#{/else}" href="#{if session.username}@{Profile.show(_arg.login)}#{/if}#{else}@{Login.index()}#{/else}" rel='twipsy' data-placement='right' title='#{if _short}<strong>${_arg}</strong><br/>#{/if}#{markdown _arg.shortDescription, escapeHtmlAttr:true /}#{if !session.username}<strong>Connectez-vous pour consulter son profil complet.</strong>#{/if}' data-html="true">
#{/if}
#{if _arg.email}#{gravatar.img _arg.email, size:20, default:'mm', rating:'pg', secure:false/}#{/if}
#{if !_short} ${_arg}#{/if}
#{if !_static}
</a>
#{/if}
</span>