*{ Display all members "members" }*
<script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
<script >
    $(function() {
        $("table#sortMember").tablesorter({ sortList: [[1,0]] });
    });
</script>
<div class="container">
    <table class="zebra-striped" id="sortMember"> 
        <thead> 
            <tr> 
                <th>Membre</th> 
                <th>Badges</th>
                <th>Actions</th>
            </tr> 
        </thead> 
        <tbody>        
            #{list items:_members, as:'member'}
            <tr>
                <td>#{member member /}</td> 
                <td>
                    #{badges member.badges /}
                </td>
                <td>
                    #{if member instanceof models.Speaker}
                        #{secure.check models.Role.ADMIN_SESSION}
                            <a class="btn" href="@{Sessions.create(member.login)}">Créer une session</a>
                        #{/secure.check} 
                   #{/if}
                </td>
            </tr>
            #{/list}
        </tbody> 
    </table>
</div><!-- /container --> 