*{
    Display a member.
    Parameters :
    - default _arg : the member
}*
<div class="row">
    <div class="span10 offset2 hero-unit member-card">
        <div class="row">
            <div class="span2">
                <div class="row">
                    #{if _arg.email}
                        #{gravatar.img _arg.email, size:100, default:'mm', rating:'pg', secure:true/}
                    #{/if}
                </div>
            </div>
            <div class="span8">
                <div class="row">
                    <div class="span7" style="margin-left:0px">
                        <a href="@{Profile.show(_arg.login)}"><h2>${_arg}</h2></a>
                    </div>
                    <div class="span1">
                        #{if session.get("username") != null && !session.get("username").equals(_arg.login)}
                            #{if !_arg.hasForLinker(session.get("username"))}
                                <a class="btn primary" href="@{Profile.link(session.get("username"), _arg.login)}">Link</a>
                            #{/if}
                            #{else}
                                <a class="btn primary" href="@{Profile.unlink(session.get("username"), _arg.login)}">Unlink</a>
                            #{/else}
                        #{/if}
                    </div>
                </div>
                <div class="row">
                    ${_arg.shortDescription?.markdown().raw()}
                </div>
                <div class="row">
                    #{list items:_arg.getOrderedAccounts(), as:'account'}
                        <a class="service-button ${account.provider.name().toLowerCase()} active" id="account${account.provider}" href="${account.url()}"></a>
                    #{/list}
                    #{if _arg.sharedLinks}
                        #{list items:_arg.sharedLinks, as:'link'}
                            <a class="sharedLink" href="${link.URL}" target="_blank"><img src="https://getfavicon.appspot.com/${link.URL.urlEncode()}"/></a>
                        #{/list}
                    #{/if}
                </div>
            </div>
        </div>
</div>
</div>
