*{ Display all sessions "sessions" }*
<script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
<script >
    $(function() {
        $("table#sortSession").tablesorter({ sortList: [[1,0]] });
    });
    var track = function(type){
        if($("#"+type).attr('disabled') === 'disabled'){
            $("a#"+type).removeAttr('disabled');
            $(".session."+type).show();
        } else {
            $("a#"+type).attr('disabled','disabled');
            $(".session."+type).hide();
        }
    }
</script>

#{if session.username}
    Proposer <a class="btn" href="@{Sessions.create(session.username)}">une session</a> ?
#{/if}

    <div class="row">
        <div class="span11 offset2" style="text-align: center">
            #{list items:models.Track.values(), as:'track'}
            <a id="${track.name().toLowerCase()}" class="btn large track ${track}" style="margin-left: 10px; margin-right: 10px" onclick="track('${track.name().toLowerCase()}')" rel='twipsy' data-placement="above" title="&{'track.'+track.name()+'.description'}">${track.name()}</a>
            #{/list}
        </div>
    </div>

    <br/>
    #{list items:_sessions, as:'talk'}
    <div class="row">
        <div class="span10 offset2 hero-unit member-card session track ${(talk instanceof models.Talk)?talk.track.toString().toLowerCase() : ''}">
        <div>#{session-card talk /}</div>
        <div>
            #{list items:talk.speakers, as:'speaker'}
                #{member speaker /}#{if !speaker_isLast}, #{/if}
            #{/list}
        </div>
        </div>
    </div>
    #{/list}
 