*{ Displays _arg session }*
<div class="row">
    <div class="span12">
        <span id="session${_arg.id}" data-id="${_arg.id}" class="session">
            #{if !_arg.valid}<span class="label important">non validé</span> #{/if}
        #{if _arg instanceof models.Talk}
        <a href="@{Sessions.show(_arg.id, _arg.title.slugify())}" title="${_arg.title}">
            <h2>[&{'enum.TalkFormat.'+_arg.format}] ${_arg.title}</h2>
        </a>
        #{/if}
        #{else}
        <a href="@{LightningTalks.show(_arg.id, _arg.title.slugify())}" title="Consulter cette session">
            <h2>${_arg.title}</h2>
        </a>
        #{/else}
    </div>
    #{if session.username}
    <a href="@{Sessions.show(_arg.id, _arg.title.slugify())}" title="Consulter cette session"><i class="icon-star-empty star #{if _arg.hasVoteFrom(session.username)} fav#{/if}" style="float: right; margin-right: -40px;"></i></a>
    #{/if}
</div>
<p>${_arg.summary}</p>
</span>