*{ Display all sessions "sessions" }*
<script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
<script >
    $(function() {
        $("table#sortSession").tablesorter({ sortList: [[1,0]] });
    });
</script>
<div class="container">

    #{secure.check models.Role.ADMIN_SESSION}
    <p>
        Ami du staff, veux-tu <a class="btn danger" href="@{Sessions.create()}">Créer un session</a> ?
    </p>
    #{/secure.check} 

    <table class="zebra-striped" id="sortSession"> 
        <thead> 
            <tr> 
                <th>Session</th> 
                <th>Speaker(s)</th>
                <th>Actions</th>
            </tr> 
        </thead> 
        <tbody>        
            #{list items:_sessions, as:'talk'}
            <tr>
                <td>#{session talk /}</td>
                <td>
                    #{list items:talk.speakers, as:'speaker'}
                        #{member speaker /}#{if !speaker_isLast}, #{/if}
                    #{/list}
                </td>
                <td>
                    #{secure.check models.Role.ADMIN_SESSION}
                        <a class="btn" href="@{Sessions.edit(talk.id)}">Editer</a>
                    #{/secure.check} 
                </td>
            </tr>
            #{/list}
        </tbody> 
    </table>
</div><!-- /container --> 