*{ Display all sessions "sessions" }*
<script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
<script >
    $(function() {
        $("table#sortSession").tablesorter({ sortList: [[1,0]] });
    });
    var track = function(type){
        if($("#"+type).attr('disabled') === 'disabled'){
            $("a#"+type).removeAttr('disabled');
            $(".session."+type).show();
        } else {
            $("a#"+type).attr('disabled','disabled');
            $(".session."+type).hide();
        }
    }
</script>

<div class="row">
    <div class="span11 offset2" style="text-align: center">
        #{list items:models.Track.values(), as:'track'}
        <a id="${track.name()}" class="btn large track ${track}" style="margin-left: 10px; margin-right: 10px" onclick="track('${track.name()}')" rel='twipsy' data-placement="below" title="&{'track.'+track.name()+'.description'}">${track.name()}</a>
        #{/list}
    </div>
</div>

<br/>
#{list items:_sessions, as:'talk'}
<div class="row">
    <div class="span12 offset1 hero-unit member-card session ${(talk instanceof models.Talk)?talk.track.toString() : ''}">
        <div class="row">
            <div class="span1 track ${(talk instanceof models.Talk)?talk.track.toString() : ''}" style="margin: -20px 0px -20px -10px; height: 150px;">&nbsp;</div>
            <div class="span11" style="margin-top: -10px;">
                <div>#{session-card talk /}</div>
                <div>
                    #{list items:talk.speakers, as:'speaker'}
                        #{member speaker /}#{if !speaker_isLast}, #{/if}
                    #{/list}
                </div>
            </div>
        </div>
    </div>
</div>
#{/list}
 