*{ Displays _arg session in a short way }*
#{if _arg instanceof models.Talk}
<a href="@{Sessions.show(_arg.id, _arg.title.slugify())}" title="${_arg.title}">
#{/if}
#{else}
<a href="@{LightningTalks.show(_arg.id, _arg.title.slugify())}" title="${_arg.title}">
#{/else}
    <h3 class="session title">${_arg.title}</h3>
</a>
<blockquote class="article headline">
    <p>${_arg.summary}</p>
    <br/>
    <small>
        #{list items:_arg.speakers, as:'s'}
            #{member s /}
            #{if !s_isLast}, #{/if}
        #{/list}
    </small>
</blockquote>
