*{ Displays _arg session in a short way }*
#{if _arg}
#{if _arg instanceof models.Talk}
    <h3 class="session title">
        [&{'enum.TalkFormat.'+_arg.format}#{lang-flag _arg.lang /}]
        <a href="@{Sessions.show(_arg.id, _arg.title.slugify())}" title="${_arg.title}">${_arg.title}</a>
    </h3>
#{/if}
#{else}
    <h3 class="session title">
        [Lightning Talk]
        <a href="@{LightningTalks.show(_arg.id, _arg.title.slugify())}" title="${_arg.title}">${_arg.title}</a>
    </h3>
#{/else}
<i class="article headline">
    <p>${_arg.summary}</p>
    <small>
        #{list items:_arg.speakers, as:'s'}
            #{member s /}
            #{if !s_isLast}, #{/if}
        #{/list}
    </small>
</i>
#{/if}