<span class="label important"><i class="icon-warning-sign"></i> &{'ticketing.soldout'}</span>
*{
#{if _arg.ticketingRegistered}
    <span class="label success"><i class="icon-check"></i> Mon billet est déjà payé!</span>
#{/if}
#{else}
<a href="${helpers.ticketing.YurPlan.REGISTRATION_URL}" rel='twipsy' title="&{'button.ticketing.details'}" data-placement="right" onclick="var w=window.open('${helpers.ticketing.YurPlan.REGISTRATION_URL}', 'yurplan', 'width=650, height=450, top=100, left=100, toolbar=no, resizable=yes, scrollbars=yes, status=no'); w.focus(); return false;"><span class="btn small primary">&{'button.ticketing'}</span></a>
#{/else}
}*