%{
    if ( _buttonClass == null ) {
        _buttonClass = 'btn btn-primary'
    }
}%

%{
    def ticketSales = helpers.ticketing.YurPlan.ticketSales ;
    def soldOut = helpers.ticketing.YurPlan.soldOut ;
}%

#{if _arg?.ticketingRegistered}
    <span class="label label-success"><i class="icon-check"></i> Mon billet est déjà payé!</span>
#{/if}
#{else}
    #{if ticketSales}
        <a href="${helpers.ticketing.YurPlan.REGISTRATION_URL}" data-toggle="tooltip" data-placement="right" title="&{'button.ticketing.details'}" onclick="var w=window.open('${helpers.ticketing.YurPlan.REGISTRATION_URL}', 'yurplan', 'width=650, height=450, top=100, left=100, toolbar=no, resizable=yes, scrollbars=yes, status=no'); w.focus(); return false;"><span class="${_buttonClass}">&{'button.ticketing'}</span></a>
    #{/if}
    #{if soldOut}
        <span class="label label-warning"><i class="icon-warning-sign"></i> &{'ticketing.soldout'}</span>
    #{/if}
#{/else}
