#{extends 'main.html' /}
#{set title:'Connexion à Mix-IT' /}


<div class="hero-unit">
    <h2>Connexion à Mix-IT</h2>
    <div class="row">
        <div class="span4">
            <div class="well">
                <a href="@{Login.loginWith(models.ProviderType.Twitter)}" title="Login via Twitter"><img src="@{'/public/images/login/sign-in-with-twitter-l.png'}"/></a>
                <a href="@{Login.loginWith(models.ProviderType.Google)}" title="Login via Google"><img src="@{'/public/images/login/google.png'}"/></a>
                <a href="@{Login.loginWith(models.ProviderType.LinkedIn)}" title="Login via LinkedIn"><img src="@{'/public/images/login/linkedin-small.png'}"/></a>
            </div>
        </div>
        <div class="span10">
            <p>
                En s'enregistrant sur ce site, vous pourrez consulter les profils des participants (speakers comme participants), se lier avec ceux que vous souhaitez (pour suivre l'activité de chacun), commenter les sessions (et pouvoir enfin troller), et plus encore (dès qu'on aura fini de le coder)!
            </p>
        </div> 
    </div>
</div>
