#{extends 'main.html' /}
#{set title:'Connexion à Link-IT' /}

<div class="container">
    <div class="hero-unit">

        <h1>Se connecter à Link-IT</h1>

        <div class="row">
            <div class="span8">
                <h2>avec login/mot de passe</h1>
                #{form @loginLinkIt()}
                <fieldset>
                    
                    #{ifErrors}
                        <p class="error">
                            Please correct these errors.
                        </p>
                    #{/ifErrors}

                    #{field 'login'}
                    <div class="clearfix">
                        <label for="${field.name}">Login :</label>
                        <div class="input">
                          <input type="text" name="${field.name}" 
                            value="${login}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}

                    #{field 'password'}
                    <div class="clearfix">
                        <label for="${field.name}">Mot de passe :</label>
                        <div class="input">
                          <input type="password" name="${field.name}" 
                            value="${password}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}
                
                    <div class="actions">
                        <input type="submit" class="btn primary" value="Se connecter"/>
                        &nbsp;
                        <input type="submit" formaction="@{signup()}" class="btn" value="S'enregistrer">
                    </div>
                </fieldset>
                #{/form}
            </div>

            <div class="span6">
                <h2>avec un compte existant</h2>
                <p>
                    <a href="@{loginWith('Twitter')}" class="btn large primary">&{'provider.Twitter'}</a>
                </p>
                <p>
                    <a href="@{loginWith('Google')}" class="btn large primary">&{'provider.Google'}</a>
                </p>
            </div>
        </div>
    </div>
</div><!-- /container --> 