#{extends 'main.html' /}
#{set title:'Connexion à Mix-IT' /}

        <div class="row">
            <div class="well col-md-5">
                <form action="@{loginLinkIt()}" role="form">
                    <fieldset class="form-group">

                    #{ifErrors}
                        <p class="error">
                            Corrigez les erreurs.
                        </p>
                    #{/ifErrors}

                    #{field 'login'}
                        <div class="clearfix">
                            <label for="${field.name}">Login :</label>
                            <div class="input">
                                <input type="text" name="${field.name}"
                                       value="${field.value}" class="${field.errorClass} form-control">
                            </div>
                        </div>
                    #{/field}

                    #{field 'password'}
                        <div class="clearfix">
                            <label for="${field.name}">Mot de passe :</label>
                            <div class="input">
                                <input type="password" name="${field.name}"
                                       value="${field.value}" class="${field.errorClass} form-control">
                            </div>
                        </div><br/>
                    #{/field}

                        <div class="actions">
                            <input type="submit" class="btn btn-primary" value="Se connecter"/>
                            &nbsp;
                            <input type="submit" formaction="@{signup()}" class="btn btn-default" value="S'enregistrer">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-7">
                <h1>Se connecter à Mix-IT</h1>
                <p>
                    Pour créer un compte : cliquez sur "S'enregistrer".
                    <br/><br/>
                    Pour se reconnecter, cliquez sur "Se connecter".
                    <br/><br/>
                    Vous préférez ne pas avoir à vous souvenir d'un mot de passe? : #{a @Login.index()}connectez-vous avec vos comptes existants#{/a} sur de grands réseaux sociaux.
                </p>
            </div>
        </div>
