#{extends 'main.html' /}
#{set title:'Connexion à Mix-IT' /}

    <div class="hero-unit">
        <h1>Connexion à Mix-IT</h1>
    </div>

        <div class="row">
            <div class="span15">
                <h3>Se créer un compte Mix-IT</h3>
                <form action="@{loginLinkIt()}">
                <fieldset>
                    
                    #{ifErrors}
                        <p class="error">
                            Corrigez les erreurs.
                        </p>
                    #{/ifErrors}

                    #{field 'login'}
                    <div class="clearfix">
                        <label for="${field.name}">Login :</label>
                        <div class="input">
                          <input type="text" name="${field.name}" 
                            value="${field.value}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}

                    #{field 'password'}
                    <div class="clearfix">
                        <label for="${field.name}">Mot de passe :</label>
                        <div class="input">
                          <input type="password" name="${field.name}" 
                            value="${field.value}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}
                
                    <div class="actions">
                        <input type="submit" class="btn primary" value="Se connecter"/>
                        &nbsp;
                        <input type="submit" formaction="@{signup()}" class="btn" value="S'enregistrer">
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
