#{extends 'main.html' /}
#{set title: messages.get('login.password.lost.title') /}

<div class="row">
    <div class="well col-md-5">
        <form method="POST" action="@{doResetPassword()}">
            <fieldset>
            #{ifErrors}
                <p class="has-error">
                    &{'validation.errors'}
                </p>
            #{/ifErrors}

            <input type="hidden" name="uuid" value="${uuid}"/>
            #{field 'password'}
                <div class="clearfix ${field.error?'has-error':''}">
                    <label for="${field.name}">&{'login.password.lost.password'}</label>
                    <div class="input">
                        <input type="password" name="${field.name}"
                               value="${field.value}" class="${field.errorClass}" />
                        <span class="help-block">${field.error}</span>
                    </div>
                </div>
            #{/field}

            #{field 'password_check'}
                <div class="clearfix ${field.error?'has-error':''}">
                    <label for="${field.name}">&{'login.password.lost.password.confirm'}</label>
                    <div class="input">
                        <input type="password" name="${field.name}"
                               value="${field.value}" class="${field.errorClass}" />
                        <span class="help-block">${field.error}</span>
                    </div>
                </div>
            #{/field}

                <br>
                <div class="actions">
                    <input type="submit" class="btn primary" value="&{'login.password.lost.requestReset'}"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-7">
        <h1>&{'login.password.lost'}</h1>
        <p>
            Pour créer un compte : cliquez sur "S'enregistrer".
            <br/><br/>
            Pour se reconnecter, cliquez sur "Se connecter".
            <br/><br/>
            Vous préférez ne pas avoir à vous souvenir d'un mot de passe? : #{a @Login.index()}connectez-vous avec vos comptes existants#{/a} sur de grands réseaux sociaux.
        </p>
    </div>
</div>
