#{extends 'main.html' /}
#{set title:'Enregistrement sur Link-IT' /}

    <div class="hero-unit">

        <h1>S'enregistrer sur Link-IT</h1>
    </div>

        <div class="row">
            <div class="span8">
                <h2>Saisissez votre login/mot de passe</h2>
                <form action="@{signup()}">
                <fieldset>
                    
                    #{ifErrors}
                        <p class="error">
                            Please correct these errors.
                        </p>
                    #{/ifErrors}

                    #{field 'login'}
                    <div class="clearfix">
                        <label for="${field.name}">Login :</label>
                        <div class="input">
                          <input type="text" name="${field.name}" 
                            value="${login}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}

                    #{field 'password'}
                    <div class="clearfix">
                        <label for="${field.name}">Mot de passe :</label>
                        <div class="input">
                          <input type="password" name="${field.name}" 
                            value="${password}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}

                    #{field 'remember'}
                    <div class="clearfix">
                        <label for="${field.name}">Se souvenir de moi :</label>
                        <div class="input">
                          <input type="checkbox" name="${field.name}" 
                            value="${remember}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}
                
                    <div class="actions">
                        <input type="submit" class="btn primary" value="S'enregistrer"/>
                    </div>
                </fieldset>
                </form>
            </div>
        </div>