#{extends 'main.html' /}
#{set title:'Enregistrement sur Mix-IT' /}

    <div class="hero-unit">
        <h1>S'enregistrer sur Mix-IT</h1>
    </div>

        <div class="row">
            <div class="span7">
                <h3>Saisissez votre login/mot de passe</h3>
                <form action="@{signup()}">
                <fieldset>
                    
                    #{ifErrors}
                        <p class="error">
                            Corrigez les erreurs.
                        </p>
                    #{/ifErrors}

                    #{field 'login'}
                    <div class="clearfix">
                        <label for="${field.name}">Login :</label>
                        <div class="input">
                          <input type="text" name="${field.name}" 
                            value="${login}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}

                    #{field 'password'}
                    <div class="clearfix">
                        <label for="${field.name}">Mot de passe :</label>
                        <div class="input">
                          <input type="password" name="${field.name}" 
                            value="${password}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}
                
                    <div class="actions">
                        <input type="submit" class="btn primary" value="S'enregistrer"/>
                    </div>
                </fieldset>
                </form>
            </div>
        </div>