<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title></title>
</head>
<body>
   <p>GET <a href="/api/interests">/api/interests</a> : liste des intérêts</p>
   <p>GET <a href="/api/sessions">/api/sessions</a> : liste des sessions</p>
   <p>GET <a href="/api/session/1">/api/session/{id}</a> : détail de la session portant l'id défini</p>
   <p>GET <a href="/api/session/1/comments">/api/session/{id}/comments</a> : commentaires de la session portant l'id défini</p>
   <p>POST <a href="/api/session/{id}/comment">/api/session/{id}/comment</a> : ajoute un commentaire à la session portant l'id défini (Connecté)</p>
   <p>GET <a href="/api/lightnings">/api/lightnings</a> : liste des lightning talks</p>
   <p>GET <a href="/api/lightning/1">/api/lightning/{id}</a> : détail du lightning talk portant l'id défini</p>
   <p>GET <a href="/api/lightning/1/comments">/api/session/{id}/comments</a> : commentaires du lightning talk portant l'id défini</p>
   <p>POST <a href="/api/lightning/{id}/comment">/api/lightning/{id}/comment</a> : ajoute un commentaire au lightning talk portant l'id défini (Connecté)</p>
   <p>GET <a href="/api/members">/api/members</a> : liste des membres (Connecté)</p>
   <p>GET <a href="/api/members">/api/member/{id}</a> : détail d'un membre (Connecté)</p>
</body>
</html>