#{extends 'main.html' /}
#{set title:'Liste' /}
<script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
<script >
  $(function() {
    $("table#sortMember").tablesorter({ sortList: [[1,0]] });
  });
</script>
</br>
</br>
<div class="container">
	<table class="zebra-striped" id="sortMember"> 
        <thead> 
          <tr> 
            <th>Prénom</th> 
            <th>Nom</th> 
            <th>Profil</th>
          </tr> 
        </thead> 
        <tbody>        
        #{list items:members, as:'member'}
			  <tr>
				  <td>${member.firstname}</td> 
    	          <td>${member.lastname}</td>
    	          <td><a href="@{Application.showMember(member.email)}">Profil</a></td>
    	      </tr>
		#{/list}
		</tbody> 
      </table>
</div><!-- /container --> 