#{extends 'main.html' /}
#{set title:'LIVE' /}

<div class="hero-unit">
    <h1>Mix-IT en LIVE</h1>
    <br/>
    <div class="row">
        <div class="span8">
            <object type="application/x-shockwave-flash" height="295" width="353" id="live_embed_player_flash"
                    data="http://www.justin.tv/widgets/live_embed_player.swf?channel=mixit12 bgcolor="#000000">
            <param name="allowFullScreen" value="true"/>
            <param name="allowscriptaccess" value="always"/>
            <param name="allownetworking" value="all"/>
            <param name="movie" value="http://www.justin.tv/widgets/live_embed_player.swf"/>
            <param name="flashvars" value="channel=mixit12&auto_play=false&start_volume=25"/>
            </object>
        </div>
        <div class="span6">
            <p>Suivez ici une des tracks en direct.<p>
            <p>Ou accédez à <a href="http://www.justin.tv/mixit12" title="La page du flux live" target="justin">la page du flux</a> <i class="icon-external-link"></i> sur Justin.tv pour profiter du chat en direct.</p>
        </div>
    </div>
</div>