#{extends 'main.html' /}
#{set title:'Profil' /}
<div class="container">
  <div class="hero-unit">
     #{if flash.success}
     <div class="alert-message success">${flash.success}</div>
     #{/if}
     #{if flash.error}
     <div class="alert-message error">${flash.error}</div>
     #{/if}
     <h2>${member.firstname} ${member.lastname}</h2>
     #{gravatar.img member.email, size:120, default:'mm', rating:'pg', secure:true/}
     <p>${member.description}</p>
     #{if !session.get("username").equals(member.login)} 
     <a class="btn primary large" href="@{Application.link(session.get("username"), member.login)}">Link</a>
     #{/if}
     <h3>${member.links.size()} links</h3>
     #{list items:member.links, as:'link'}
     <a href="@{Application.showMember(link.login)}" rel='twipsy' title='${link.login}'>#{gravatar.img link.email, size:24, default:'mm', rating:'pg', secure:true/}</a>
     #{/list}
  </div>

  <div class="row">
    <div class="span6">
      <h2>Sites</h2>
      <p>Une brève description suivie des n liens sociaux (twitter, viadeo, linkedin, blog, etc)</p>
      <p><a class="btn" href="#">Voir mon site</a></p>
    </div>
    <div class="span5">
      <h2>Intérêts</h2>
      <p>
        <a class="btn primary" href="#">Java</a>
        <a class="btn primary" href="#">TDD</a>
        <a class="btn primary" href="#">Hadoop</a>
        <a class="btn success" href="#">NodeJS</a>
        <a class="btn success" href="#">Javascript</a>
        <a class="btn danger" href="#">Spring</a>
      </p>
    </div>
    <div class="span4">
      <h2>Badges</h2>
      <p>Les badges gagnés par le participant</p>
    </div>
  </div>
</div>