#{extends 'main.html' /}
#{set title:'Profil' /}
<div class="container">
  <div class="hero-unit">
     <h2>${member.displayName} #{if session.get("username")?.equals(member.login)}(${member.firstname} ${member.lastname})#{/if} <a class="btn danger" href="@{Application.deleteMember(member.login)}">Supprimer mon compte (sans confirmation pour le moment!)</a></h2>
     #{if member.email}
        #{gravatar.img member.email, size:120, default:'mm', rating:'pg', secure:true/}
     #{/if}
     <p>${member.description}</p>
     #{if member.twitterName}
         <p><a href="http://www.twitter.com/${member.twitterName}" target="_new">@${member.twitterName}</a></p>
     #{/if}
     #{if member.googlePlusId}
        <p><a href="http://plus.google.com/${member.googlePlusId}" target="_new">Google+</a></p>
     #{/if}
     #{if session.get("username") != null && !session.get("username").equals(member.login)}
     #{if !models.Member.isLinkedTo(session.get("username"), member.login)}
     <a class="btn primary large" href="@{Application.link(session.get("username"), member.login)}">Link</a>
     #{/if}
     #{else}
     <a class="btn primary large" href="@{Application.unlink(session.get("username"), member.login)}">Unlink</a>
     #{/else}
     #{/if}
     <div class="row">
       <div class="span3">
         <h3>${member.links.size()} #{if member.links.size()<=1} link #{/if}
                #{else} link${member.links.size().pluralize()} #{/else}
         </h3>
         #{list items:member.links, as:'link'}       
         <a href="@{Application.showMember(link.login)}" rel='twipsy' title='${link.login}'>#{gravatar.img link.email, size:24, default:'mm', rating:'pg', secure:true/}</a>
         #{/list}
       </div>
       <div class="span3">
         <h3>${member.linkers().size()} #{if member.linkers().size()<=1} linker #{/if}
                 #{else} linker${member.linkers().size().pluralize()} #{/else}</h3>
         #{list items:member.linkers(), as:'link'}
         <a href="@{Application.showMember(link.login)}" rel='twipsy' title='${link.login}'>#{gravatar.img link.email, size:24, default:'mm', rating:'pg', secure:true/}</a>
         #{/list}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Sites</h2>
      <p>Une brève description suivie des n liens sociaux (twitter, viadeo, linkedin, blog, etc)</p>
      <p><a class="btn" href="#">Voir mon site</a></p>
    </div>
    <div class="span6">
      <h2>Intérêts</h2>
      <p>
            #{list items:member.interests, as:'interest'}
                <a class="btn primary" href="@{Application.showMembersbyInterest(interest.name)}">${interest}</a>
            #{/list}
      </p>
    </div>
    <div class="span4">
      <h2>Badges</h2>
      <p>Les badges gagnés par le participant</p>
    </div>
  </div>
</div>