#{extends 'main.html' /}
#{set title:'Liste des sponsors' /}

<div class='alert-message'>
    &{'sponsors.register'}
</div>

#{if eventSponsors?.size() > 0}
<h1>&{'sponsors.forEvent', event}</h1>

#{list items:models.Sponsor.Level.values(), as:'level'}
    #{if eventSponsors.get(level)}
        <h2>${level.toString().toLowerCase().capFirst()}</h2>
        #{members members:eventSponsors.get(level) /}
    #{/if}
#{/list}
#{/if}

#{if messages.get('sponsors.partners.'+event)}
<br/>
<h1>&{'sponsors.partners'}</h1>
&{'sponsors.partners.'+event}
#{/if}

#{if messages.get('sponsors.supporters.'+event)}
<br/>
<h1>&{'sponsors.supporters'}</h1>
&{'sponsors.supporters.'+event}
#{/if}
