<!DOCTYPE html>

%{
    def offline = java.lang.Boolean.valueOf(play.configuration.getProperty("offline.resources"));
    def bootstrapCssUrl = "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css";
    def bootstrapJsUrl = "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js";
    def jQueryUrl = "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js";
}%

<html>
<head>
    <title>#{get 'title' /} - &{'event.'+models.ConferenceEvent.CURRENT}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="#{if offline}@{'/public/stylesheets/bootstrap.css'}#{/if}#{else}${bootstrapCssUrl}#{/else}">
    <link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/networks.css'}">
    <link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/font-awesome.css'}">
    <link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/linkit.less'}">
#{if canonical}
    <link rel="canonical" href="#{get 'canonical' /}">#{/if}
#{get 'moreStyles' /}
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="author" href="humans.txt"/>
    <script src="#{if offline}@{'/public/javascripts/jquery.js'}#{/if}#{else}${jQueryUrl}#{/else}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="#{if offline}@{'/public/javascripts/bootstrap.js'}#{/if}#{else}${bootstrapJsUrl}#{/else}"></script>
    <script src="@{'/public/javascripts/typeahead.min.js'}"></script>
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
#{get 'moreScripts' /}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '${play.configuration.getProperty("application.analytics.trackingId")}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body itemscope itemtype="http://schema.org/Product">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#js-navbar-to-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="padding-top: 12px" href="@{Application.index()}">
            <img src="@{'/public/images/mini-mixit.png'}"
                 itemprop="image"/>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="js-navbar-to-collapse">
        <ul class="nav navbar-nav">
            <li #{if request.controller=="Articles"}class="active"#{/if}><a
                    href="@{Articles.index()}">&{'menu.news'}</a></li>
        *{
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'menu.agenda'} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@{Sessions.index()}">&{'menu.agenda.sessions'}</a></li>
                    <li><a href="@{LightningTalks.list()}">&{'menu.agenda.lightningtalks'}</a></li>
                    #{if Boolean.valueOf(play.configuration.getProperty('cfp.isOpen', 'false')) }
                        #{if session.username}
                            <li class="divider"></li>
                            <li><a href="@{Sessions.create(session.username)}">&{'menu.agenda.submit'}</a></li>
                        #{/if}
                    #{/if}
                    <li #{if request.action=="Sessions.currentPlanning"}class="active"#{/if}><a href="@{Sessions.currentPlanning}">Planning</a></li>
                    <li #{if request.action=="Sessions.mixteen"}class="active"#{/if}>
                        <a href="@{Sessions.mixteen()}">&{'menu.agenda.mixteen'}</a>
                    </li>
                </ul>
            </li>
        }*
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'menu.members'} <b class="caret"></b></a>
                <ul class="dropdown-menu">
         *{
                    <li #{if request.action=="Application.speakers"}class="active"#{/if}><a
                            href="@{Application.speakers()}">&{'menu.members.speakers'}</a></li>
                #{if session.username}
                    <li #{if request.controller=="Profile" || request.action=="Application.members"}class="active"#{/if}>
                        <a href="@{Application.members()}">&{'menu.members.all'}</a></li>
                #{/if}
        }*
                    <li #{if request.action=="Application.staff"}class="active"#{/if}><a
                            href="@{Application.staff()}">&{'menu.members.staff'}</a></li>
                    <li #{if request.action=="Application.sponsors"}class="active"#{/if}><a
                            href="@{Application.sponsors()}">&{'menu.members.sponsors'}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'menu.infos'} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li #{if request.action=="Infos.about"}class="active"#{/if}><a
                            href="@{Infos.about()}">&{'menu.infos.about'}</a></li>
                    <li #{if request.action=="Infos.faq"}class="active"#{/if}><a
                            href="@{Infos.faq()}">&{'menu.infos.faq'}</a></li>
                   *{
                    <li #{if request.action=="Infos.inscription"}class="active"#{/if}><a
                            href="@{Infos.inscription()}">&{'menu.infos.inscription'}</a></li>
        }*
                    <li #{if request.action=="Infos.contact"}class="active"#{/if}><a
                            href="@{Infos.contact()}">&{'menu.infos.contact'}</a></li>
                    <li #{if request.action=="Infos.codeOfConduct"}class="active"#{/if}><a
                            href="@{Infos.codeOfConduct()}">&{'menu.infos.codeOfConduct'}</a></li>
                    <li #{if request.action=="Infos.kit"}class="active"#{/if}><a
                            href="@{Infos.kit()}">&{'menu.infos.kit'}</a></li>
                    <li #{if request.action=="Infos.acces"}class="active"#{/if}><a
                            href="@{Infos.acces()}">&{'menu.infos.access'}</a></li>
*{
                    <li #{if request.action=="Infos.hotels"}class="active"#{/if}><a
                            href="@{Infos.hotels()}">&{'menu.infos.hotels'}</a></li>
}*
                    <li class="divider"></li>
                    <li #{if request.action=="Infos.mixit14"}class="active"#{/if}><a
                            href="@{Infos.mixit14()}">&{'menu.infos.2014'}</a></li>
                    <li #{if request.action=="Infos.mixit13"}class="active"#{/if}><a
                            href="@{Infos.mixit13()}">&{'menu.infos.2013'}</a></li>
                    <li #{if request.action=="Infos.mixit12"}class="active"#{/if}><a
                            href="@{Infos.mixit12()}">&{'menu.infos.2012'}</a></li>
                    <li><a href="http://2011.mix-it.fr" title="Mix-IT 2011">&{'menu.infos.2011'}</a></li>
                </ul>
            </li>
        #{secure.check 'admin'}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin">On dirait le CRUD</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Articles.create()}">Créer un article</a></li>
                    <li><a href="@{Sessions.create()}">Créer une session</a></li>
                    <li class="divider"></li>
                    <li><a href="@{admin.AdminPlanning.feedback()}">Feedbacks</a></li>
                    <li><a href="@{Interests.edit()}">Modérer les intérêts</a></li>
                    <li><a href="@{Operations.index()}">Opérations d'administration</a></li>
                    <li><a href="@{Mailings.index()}">Mailings</a></li>
                    <li><a href="@{Exports.index()}">Exports</a></li>
                    <li><a href="@{admin.AdminPlanning.index()}">Création Planning</a></li>
                </ul>
            </li>
        #{/secure.check}
        </ul>
        <form id="formTopbarSearch" action="@{Application.search}" method="GET" class="navbar-form navbar-left"
              role="search">
            <div class="form-group">
            #{field 'query'}
                <input type="text" class="form-control" id="${field.id}" name="${field.name}"
                       placeholder="&{'menu.search'}" value="${params.query}">
            #{/field}
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
            #{if lang == 'en'}#{a @Application.lang('fr', request.url)}Français#{/a}#{/if}
            #{else}#{a @Application.lang('en', request.url)}English#{/a}#{/else}
            </li>
        #{if session.username}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown">#{member models.Member.findByLogin(session.username), static:true /} <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li #{if request.controller=="Dashboard"}class="active"#{/if}><a
                            href="@{Dashboard.index}">&{'menu.dashboard'}</a></li>
                    <li><a href="@{Profile.show(session.username)}">&{'menu.login.profile'}</a></li>
                    <li><a href="@{Profile.edit()}">&{'menu.login.edit'}</a></li>
*{ Pages fucked up by Bootstrap 3
                    <li><a href="@{Dashboard.trombinoscope()}">&{'menu.login.trombinoscope'}</a></li>
                    <li><a href="@{Dashboard.settings()}">&{'menu.login.settings'}</a></li>
}*
                    <li class="divider"></li>
                    <li><a href="@{Secure.logout()}">&{'menu.login.logout'}</a></li>
                </ul>
            </li>
        #{/if}
        #{else}
            <li><a href="@{Login.index()}" title="&{'menu.login'}">&{'menu.login'}</a></li>
        #{/else}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div class="container #{if isHomePage}home-page#{/if}">

#{if flash.success}
    <div class="alert alert-success alert-dismissable">${flash.success}</div>
#{/if}
#{if flash.error}
    <div class="alert alert-danger alert-dismissable">${flash.error}</div>
#{/if}

#{doLayout /}
</div>
<!--/div-->
</body>

<footer>
    <div class="container">
    <hr>
    #{if sponsors}
        <div class="row">
            #{list items:sponsors, as:'sponsor'}
                <div class="col-md-2" style="text-align: center">
                    <a href="@{Profile.show(sponsor.login)}">${sponsor.toString()}</a>
                </div>
            #{/list}
        </div>
    #{/if}
        <br/>

        <div class="row text-center" style="padding: 20px">
            <div class="col-sm-3 col-xs-6">
                <div class="center-block">
                    <iframe allowtransparency="true" frameborder="0" scrolling="no"
                            src="//platform.twitter.com/widgets/follow_button.html?screen_name=MixIT_Lyon&lang=fr&show_count=false"
                            style="width:300px; height:20px; margin: auto;">
                    </iframe>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="center-block">
                    <a href="http://www.cpe.fr/" target="blank" style="margin: auto;">
                        <img src="@{'/public/images/logo-cpe-mini.png'}" title="Hosted at CPE Lyon" height="20px"/>
                    </a>
                </div>
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs"></div>

            <div class="col-sm-3 col-xs-6">
                <div class="center-block">
                    <a href="http://www.pivotal.io/platform-as-a-service/pivotal-cf" target="blank" style="margin: auto;">
                        <img src="@{'/public/images/powered-by-cloudfoundry.png'}"
                             title="Powered by Pivotal CloudFoundry"
                             height="20px"/>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="center-block">
                    #{a @Infos.codeOfConduct()}&{'page.codeOfConduct.title'}#{/a}
                </div>
            </div>
        </div>
    </div>
</footer>
</html>
