#{extends 'main.html' /}
#{set title:'Suppression de compte' /}

<h1>Supprimer votre compte ?</h1>

<div class="alert-message block-message warning">
<p>
Sans rire?<br/>
Vous voulez supprimer votre compte ?<br/>
On supprimera <strong>toutes les données</strong> associées, il ne restera plus trace de vous, rien!
</p>
    <div class='alert-actions'>
        <a href="@{show(session.username)}" class="btn primary">Je reviens sagement à mon profil</a>
        <a href="@{confirmDelete()}" class="btn danger">Je confirme la suppression!</a>
    </div>
</div>


<p>
</p>