#{extends 'main.html' /}
#{set title:'Inscription' /}
</br>
</br>
<div class="container">
    <div class="page-header"> 
        <h1>Inscription</h1> 
    </div>
    <div class="row"> 
        <div class="span4 columns"> 
            <h2>Informations</h2> 
            <p>Informations générales sur votre profil, vos réseaux sociaux et vos intérêts.</p> 
        </div> 
        <div class="span12 columns"> 
            #{form @Profile.save(member.login)} 
            #{ifErrors}
            <fieldset> 
                <div class="alert-message error">
                    <p>Tous les champs sont nécessaires.</p>
                </div>
            </fieldset> 
            #{/ifErrors}
            <fieldset> 
                <legend>Profil</legend>
                #{field 'lastname'}
                <div class="clearfix ${field.error?'error':''}"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" />
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div>
                </div>
                #{/}

                #{field 'firstname'}
                <div class="clearfix"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${member?.firstname}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'displayName'}
                <div class="clearfix"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${member?.displayName}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'email'}
                <div class="clearfix"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="email" value="${member?.email}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'description'}
                <div class="clearfix"> 
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${member?.description}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'twitterName'}
                <div class="clearfix">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${member?.twitterName}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div> 
                </div><!-- /clearfix -->
                #{/}

                #{field 'googlePlusId'}
                <div class="clearfix">
                    <label for="${field.name}">&{field.name}</label> 
                    <div class="input"> 
                        <input class="xlarge" id="${field.id}" name="${field.name}" size="30" type="text" value="${member?.googlePlusId}" /> 
                        <span class="help-inline">${field.error}</span>
                        <span class="help-block">&{field.name+".note"}</span>
                    </div>

                </div><!-- /clearfix -->
                #{/}

            </fieldset>
            <fieldset>
                <legend>Intérêts</legend>
                <div class="clearfix"> 
                    <span class="help-block"> 
                        <strong>Note:</strong> Ces intérêts seront affichés sur votre profil et nous serviront à vous proposer de nouvelles connaissances.
                    </span> 
                    <div class="input"> 
                        <ul class="inputs-list">
                            #{list items:interests, as:'interest'}
                            <li><label><input type="checkbox" name="checkedInterests" value="${interest}" /> <span>${interest}</span></label></li>
                            #{/list}
                        </ul>
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix"> 
                    <label for="xlInput">Autres Intérêts:</label>
                    <div class="input"> 
                        <input class="xlarge" id="newInterests" name="newInterests" size="200" type="text" /> 
                    </div> 
                    <span class="help-block"> 
                        Vous pouvez saisir de nouveaux intérêts (en les séparant par une virgule)
                    </span>
                </div><!-- /clearfix -->
            </fieldset>
            <input type="submit" class="btn primary large" value="S'inscrire"/>
            #{/form}
        </div>
    </div>
</div>