#{extends 'main.html' /}
#{set title:messages.get('profile.editSpeakerPreferences.title') /}
#{set 'moreScripts'}
    <!-- Requirements for managing form dirtiness
    <script src="@{'/public/javascripts/modal.js'}"></script>
    <script src="@{'/public/javascripts/jquery.dirtyforms.js'}"></script>
    <script src="@{'/public/javascripts/dirtiness.js'}"></script>-->
    <!-- End Requirements for managing form dirtiness -->
#{/set}

<div class="page-header">
    <h1>&{'profile.editSpeakerPreferences.title'}</h1>
</div>

#{form @Profile.saveSpeakerPreferences()}
    #{field 'preferences.id'}
        <input id="${field.id}" name="${field.name}" type="hidden" value="${preferences?.id}" />
    #{/}

    <fieldset>
        <legend>&{'speakerPreferences.transportation.legend'}</legend>
        <div>&{'speakerPreferences.transportation.note'}</div><br>

        <div class="row">
            <div class="col-md-4">
                #{field 'preferences.transportationType'}
                    <div class="clearfix ${field.error?'has-error':''}">
                        <label for="${field.id}">&{field.name}</label>
                        <div class="input">
                            #{select field.name, value:field.value}
                                #{option ''}#{/option}
                                #{list items:models.TransportationType.values(), as:'type'}
                                    #{option type}&{'enum.TransportationType.'+type}#{/option}
                                #{/list}
                            #{/select}
                            <span class="help-block">${field.error}</span>
                          *{  <span class="help-block">&{field.name+".note"}</span> }*
                        </div>
                    </div>
                #{/}
            </div>

            <div class="col-md-3">
                #{field 'preferences.arrivalTime'}
                    <div class="clearfix ${field.error?'has-error':''}">
                        <div class="form-group">
                            <label for="${field.name}">&{field.name}</label>
                            <input type="datetime" class="form-control" id="${field.id}" name="${field.name}" value="${preferences?.arrivalTime}" />
                            <span class="help-block">${field.error}</span>
                            <span class="help-block">&{field.name+'.note'}</span>
                        </div>
                    </div>
                    <!-- /clearfix -->
                #{/}

            </div>

            <div class="col-md-3">
                #{field 'preferences.arrivalPlace'}
                    <div class="clearfix ${field.error?'has-error':''}">
                        <div class="form-group">
                            <label for="${field.name}">&{field.name}</label>
                            <input type="text" class="form-control" id="${field.id}" name="${field.name}" value="${preferences?.arrivalPlace}" />
                            <span class="help-block">${field.error}</span>
                            *{ <span class="help-block">&{field.name+'.note'}</span> }*
                        </div>
                    </div>
                    <!-- /clearfix -->
                #{/}
            </div>


        </div>

        <div class="row">

            <div class="col-md-4">
            </div>

            <div class="col-md-3">
                #{field 'preferences.departureTime'}
                    <div class="clearfix ${field.error?'has-error':''}">
                        <div class="form-group">
                            <label for="${field.name}">&{field.name}</label>
                            <input type="datetime" class="form-control" id="${field.id}" name="${field.name}" value="${preferences?.departureTime}" />
                            <span class="help-block">${field.error}</span>
                            <span class="help-block">&{field.name+'.note'}</span>
                        </div>
                    </div>
                    <!-- /clearfix -->
                #{/}
            </div>

            <div class="col-md-3">
                #{field 'preferences.departurePlace'}
                    <div class="clearfix ${field.error?'has-error':''}">
                        <div class="form-group">
                            <label for="${field.name}">&{field.name}</label>
                            <input type="text" class="form-control" id="${field.id}" name="${field.name}" value="${preferences?.departurePlace}" />
                            <span class="help-block">${field.error}</span>
                           *{ <span class="help-block">&{field.name+'.note'}</span> }*
                        </div>
                    </div>
                    <!-- /clearfix -->
                #{/}
            </div>
        </div>

    </fieldset>


    <fieldset>
        <legend>&{'speakerPreferences.presence.legend'}</legend>
        <div>&{'speakerPreferences.presence.note'}</div><br>

        <table class="table table-bordered text-center" style="">
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">&{'preferences.conference.dayMinusOne'}</th>
                <th class="text-center">&{'preferences.conference.day1'}</th>
                <th class="text-center">&{'preferences.conference.day2'}</th>
            </tr>

            <tr>
                <th>&{'preferences.conference.am'}</th>
                <td>&nbsp;</td>
                <td>
                    #{field 'preferences.presenceFirstAM'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.presenceFirstAM}checked#{/} />
                        </div>
                    #{/}
                </td>
                <td>
                    #{field 'preferences.presenceSecondAM'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.presenceSecondAM}checked#{/} />
                        </div>
                    #{/}
                </td>
            </tr>

            <tr>
                <th>&{'preferences.conference.pm'}</th>
                <td>&nbsp;</td>
                <td>
                    #{field 'preferences.presenceFirstPM'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.presenceFirstPM}checked#{/} />
                        </div>
                    #{/}
                </td>
                <td>
                    #{field 'preferences.presenceSecondPM'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.presenceSecondPM}checked#{/} />
                        </div>
                    #{/}
                </td>
            </tr>

            <tr>
                <th>&{'preferences.dinner-party'}</th>
                <td>
                    #{field 'preferences.eveningBefore'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.eveningBefore}checked#{/}/>
                        </div>
                    #{/}
                </td>
                <td>
                    #{field 'preferences.eveningDuring'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.eveningDuring}checked#{/}/>
                        </div>
                    #{/}
                </td>
                <td>
                    #{field 'preferences.eveningAfter'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.eveningAfter}checked#{/} />
                        </div>
                    #{/}
                </td>
            </tr>
            <tr>
                <th>&{'preferences.hotel'}</th>
                <td>
                    #{field 'preferences.hotelNightBefore'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.hotelNightBefore}checked#{/} />
                        </div>
                    #{/}
                </td>
                <td>
                    #{field 'preferences.hotelNightDuring'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.hotelNightDuring}checked#{/} />
                        </div>
                    #{/}
                </td>
                <td>
                    #{field 'preferences.hotelNightAfter'}
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="${field.id}" name="${field.name}"
                                   #{if preferences?.hotelNightAfter}checked#{/} />
                        </div>
                    #{/}
                </td>
            </tr>
        </table>

    </fieldset>

    <fieldset>
        <legend>&{'speakerPreferences.other.legend'}</legend>

        #{field 'preferences.additionalHotelDetails'}
            <div class="clearfix ${field.error?'has-error':''}">
                <div class="form-group">
                    <label for="${field.name}">&{field.name}</label>
                    <textarea class="form-control" id="${field.id}" name="${field.name}" size="30"
                              rows="1">${preferences?.additionalHotelDetails}</textarea>
                    <span class="help-block">${field.error}</span>
                    <span class="help-block">&{field.name+'.note'}</span>
                </div>
            </div>
            <!-- /clearfix -->
        #{/}

        #{field 'preferences.additionalDetails'}
            <div class="clearfix ${field.error?'has-error':''}">
                <div class="form-group">
                    <label for="${field.name}">&{field.name}</label>
                    <textarea class="form-control" id="${field.id}" name="${field.name}" size="30"
                              rows="1">${preferences?.additionalDetails}</textarea>
                    <span class="help-block">${field.error}</span>
                </div>
            </div>
            <!-- /clearfix -->
        #{/}
    </fieldset>

    <div class="actions">
        <input type="submit" class="btn btn-primary" value="&{'profile.editSpeakerPreferences.save'}"/>
        <a href="@{Dashboard.index()}" class="btn btn-default">&{'profile.editSpeakerPreferences.cancel'}</a>
    </div>

#{/form}

#{dirtyDialog /}
