#{extends 'main.html' /}
#{set title:member.toString() + ' - Mix-IT' /}
<div class="container">
    <div class="hero-unit">
        <h2>${member.firstname} ${member.lastname} aka ${member.displayName}</h2>
        <div class="row">
            <div class="span6">
                <!-- profil -->
                #{if member.email}
                #{gravatar.img member.email, size:120, default:'mm', rating:'pg', secure:true/}
                #{/if}

                ${member.getNbLooks()} consultation${member.getNbLooks().pluralize()}

                #{if member instanceof models.Speaker}
                    <h5>Session${member.sessions.size().pluralize()} :</h5>
                    <ul>
                    #{list items:member.sessions, as:'talk'}
                        <li><a href="@{Sessions.show(talk.id)}">${talk.title}</a></li>
                    #{/list}
                    </ul>
                #{/if}

                <p>Social networks :<br/>
                #{list items:member.accounts, as:'account'}       
                    <a class="service-button ${account.provider.name().toLowerCase()} active" id="account${account.provider}" href="${account.url()}"></a>
                #{/list}
                </p>
                
                <p>${member.description?.markdown().raw()}</p>
                
                #{if session.get("username") != null && !session.get("username").equals(member.login)}
                    #{if !member.hasForLinker(session.get("username"))}
                        <a class="btn primary large" href="@{Profile.link(session.get("username"), member.login)}">Link</a>
                    #{/if}
                    #{else}
                        <a class="btn primary large" href="@{Profile.unlink(session.get("username"), member.login)}">Unlink</a>
                    #{/else}
                #{/if}
                </p>
                <div class="row">
                    <div class="span3">
                        <h3>${member.links.size()} #{if member.links.size()<=1} link #{/if}
                            #{else} link${member.links.size().pluralize()} #{/else}
                        </h3>
                        #{list items:member.links, as:'link'}       
                        <a id="linkTo${link.login}" href="@{Profile.show(link.login)}" rel='twipsy' title='${link}'>#{gravatar.img link.email, size:24, default:'mm', rating:'pg', secure:true/}</a>
                        #{/list}
                    </div>
                    <div class="span3">
                        <h3>${member.linkers.size()} #{if member.linkers.size()<=1} linker #{/if}
                            #{else} linker${member.linkers.size().pluralize()} #{/else}</h3>
                        #{list items:member.linkers, as:'link'}
                        <a id="linkerTo${link.login}" href="@{Profile.show(link.login)}" rel='twipsy' title="${link}">#{gravatar.img link.email, size:24, default:'mm', rating:'pg', secure:true/}</a>
                        #{/list}
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <p>
                        <h2>#{socialbar/}</h2>
                        </p>
                    </div>
                </div>
            </div>

            <div class="span8" > <!-- timeline -->
                <div class="row">
                    <div class="span8">
                        Afficher : 
                        #{list items:member.accounts, as:'account'}       
                            <a class="service-button ${account.provider.name().toLowerCase()}" id="${account.provider}" onClick="handleProvider('${account.provider}')"></a>
                        #{/list}
                    </div>
                    <br/>
                    <br/>
                    <div class="span8">
                        <div id="activities" style="max-height: 400px">
                        </div>
                    </div>
                    <a id="moreActivities" href="#activities" class="btn small" onclick="loadMoreActivities()">&{'activities.more'}</a>

                    <script type="text/javascript">
                        var providers = ['${member.getAccountProviders().join("','")}'];
                        var page = 1;
                        var size = 5;
                        var activitiesAction = #{jsAction @Profile.activitiesOf(':login', ':providers', ':page',':size') /};

                        function loadMoreActivities() {
                            if (providers.length > 0) {
                                $.get(activitiesAction({login: '${member.login}', providers: providers.join("${controllers.Profile.PROVIDERS_SEP}"), page: page, size: size}), function(data) {
                                    $('#activities').append(data);
                                    if (data) {
                                        $('#moreActivities').css('visibility','visible');
                                        page++;
                                    } else {
                                        $('#moreActivities').css('visibility','hidden');
                                    }
                                });
                            }
                        };
                    
                        function handleProvider(provider){
                            var contain = providers.indexOf(provider);
                            if(contain != -1){
                                providers = providers.filter(function(x){return x != provider})
                                $('#'+provider).removeClass(provider.toLowerCase()).addClass(provider.toLowerCase()+'-off');
                            }else{
                                providers.push(provider);
                                $('#'+provider).removeClass(provider.toLowerCase()+'-off').addClass(provider.toLowerCase());
                            }
                            $('#activities').empty();
                            page = 1;
                            size = 5;
                            console.log(providers);
                            loadMoreActivities();
                        };

                        // Initial loading : first page
                        loadMoreActivities();
                    </script>
                </div>            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <h2>Intérêts</h2>
            <p>
                #{list items:member.interests, as:'interest'}
                <a href="@{Application.sessionsAndMembersByInterest(interest.name)}"><span class="label notice">${interest}</span></a>
                #{/list}
            </p>
        </div>
        <div class="span8">
            <h2>Badges</h2>
            <p>
                #{list items:member.badges, as:'badge'}
                #{badge badge:badge /}
                #{/list}
            </p>
        </div>
    </div>

    #{if session.get("username")?.equals(member.login)}
    <div class="row">
        <div class="span16 actions">
            <a class="btn primary" href="@{Profile.edit()}">Editer mon profil</a>
            <a class="btn danger" href="@{Profile.delete()}">Supprimer mon compte (sans confirmation pour le moment!)</a>
        </div>
    </div>
    #{/if}
</div>