#{extends 'main.html' /}
#{set title:member.toString() /}
#{set 'canonical'}@@{Profile.show(member.login)}#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap-tabs.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
<div class="hero-unit">
    <div class="row">
        <div class="span2 offset1">
            #{if member.email}
            #{gravatar.img member.email, size:120, default:'mm', rating:'pg', secure:true/}
            #{/if}
            ${member.getNbLooks()} consultation${member.getNbLooks().pluralize()}
            #{if session.get("username") != null && !session.get("username").equals(member.login)}
                #{if !member.hasForLinker(session.get("username"))}
                    <a class="btn primary large" href="@{Profile.link(session.get("username"), member.login)}">Link</a>
                #{/if}
                #{else}
                    <a class="btn primary large" href="@{Profile.unlink(session.get("username"), member.login)}">Unlink</a>
                #{/else}
            #{/if}
        </div>
        <div class="span10 offset1">
            <div class="row">
                <h2 style="font-size: 40px; line-height: 44px;" itemprop="name">${member}</h2>
            </div>
            <br/>
            <div class="row" itemprop="description">
                ${member.shortDescription?.markdown().raw()}
            </div>
            <div class="row">
            #{list items:member.getOrderedAccounts(), as:'account'}
                <a class="service-button ${account.provider.name().toLowerCase()} active" id="account${account.provider}" href="${account.url()}"></a>
            #{/list}
            #{if member.sharedLinks}
                #{list items:member.sharedLinks, as:'link'}
                    <a class="sharedLink" href="${link.URL}" target="_blank"><img src="https://getfavicon.appspot.com/${link.URL.urlEncode()}"/></a>
                #{/list}
            #{/if}
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="span6 offset1">
            <h3>${member.links.size()} #{if member.links.size()<=1} link #{/if}
                #{else} link${member.links.size().pluralize()} #{/else}
            </h3>
            #{list items:member.links, as:'link'}
                #{member link, short:true, elementId:'linkTo${link.login}' /}
            #{/list}
        </div>
        <div class="span6 offset1">
            <h3>${member.linkers.size()} #{if member.linkers.size()<=1} linker #{/if}
                #{else} linker${member.linkers.size().pluralize()} #{/else}</h3>
            #{list items:member.linkers, as:'linker'}
                #{member linker, short:true, elementId:'linkerTo${link.login}' /}
            #{/list}
        </div>
    </div>
    <br/><br/>
    <!--div class="row">
        <div class="span6">
            <p>
            <h2>#{socialbar/}</h2>
            </p>
        </div>
    </div-->
    <div class="row">
        <div class="span12 offset1">
            <ul class="tabs" data-tabs="tabs">
                <li class="active"><a href="#tabActivites">Mes activités</a></li>
                #{if org.apache.commons.lang.StringUtils.isNotBlank(member.longDescription)}
                <li><a href="#bio">Ma biographie</a></li>
                #{/if}
                #{if member.getValidatedTalks()}
                <li><a href="#talks">Mes talks</a></li>
                #{/if}
                #{if member.getLightningTalks()}
                <li><a href="#ligthnings">Mes lightnings talks</a></li>
                #{/if}
                #{if member.interests}
                <li><a href="#interets">Mes intérêts</a></li>
                #{/if}
                <li><a href="#badges">Mes badges</a></li>
            </ul>
            <div id="tab-content" class="tab-content">
                <div class="tab-pane active" id="tabActivites">
                    #{list items:member.getAccountProviders(), as:'provider'}
                        <a class="service-button ${provider.name().toLowerCase()}" id="${provider}" onClick="handleProvider('${provider}')" rel='twipsy' title="Cliquer pour filtrer le flux &{'provider.'+provider}"></a>
                    #{/list}
                    <br/><br/>
                    <p id="activities" style="max-height: 200px"></p>
                    <a id="moreActivities" class="btn small" onclick="loadMoreActivities(true)">&{'activities.more'}</a>
                    <img id="activitiesSpinner" class="spinner" src="/public/images/spinner.gif" alt="chargement..." />
                    <script type="text/javascript">
                        var providers = ['${member.getAccountProviders().join("','")}'];
                        var page = 1;
                        var size = 5;
                        var activitiesAction = #{jsAction @Activities.of(':login', ':providers', ':page',':size') /};
                        var spinner = $('#activitiesSpinner');
                        var btnMoreActivities = $('#moreActivities');
                        function loadMoreActivities(autoscroll) {
                            if (providers.length > 0) {
                                btnMoreActivities.addClass('disabled');
                                spinner.css("visibility", "visible");
                                $.get(activitiesAction({login: '${member.login}', providers: providers.join("${controllers.Activities.PROVIDERS_SEP}"), page: page, size: size}), function(data) {
                                    $('#activities').append(data);
                                    if (data) {
                                        btnMoreActivities.css('visibility','visible');
                                        page++;
                                    } else {
                                        btnMoreActivities.css('visibility','hidden');
                                    }
                                    spinner.css("visibility", "hidden");
                                    btnMoreActivities.removeClass('disabled');
                                    if (autoscroll) {
                                        $("#activities").animate({ scrollTop: $("#activities").attr("scrollHeight") - $('#activities').height() }, 1000);
                                    }
                                });
                            }
                        };

                        function handleProvider(provider){
                            var contain = providers.indexOf(provider);
                            if(contain != -1){
                                providers = providers.filter(function(x){return x != provider})
                                $('#'+provider).removeClass(provider.toLowerCase()).addClass(provider.toLowerCase()+'-off');
                            }else{
                                providers.push(provider);
                                $('#'+provider).removeClass(provider.toLowerCase()+'-off').addClass(provider.toLowerCase());
                            }
                            $('#activities').empty();
                            page = 1;
                            size = 5;
                            console.log(providers);
                            loadMoreActivities(false);
                        };

                        // Initial loading : first page
                        loadMoreActivities(true);
                    </script>
                </div>
                #{if member.longDescription}
                <div class="tab-pane" id="bio">
                     <div id="longDescription">
                        ${member.longDescription?.markdown().raw()}
                    </div>
                </div>
                #{/if}
                #{if member.getValidatedTalks()}
                <div class="tab-pane" id="talks">
                    <ul>
                    #{list items:member.getValidatedTalks(), as:'talk'}
                        <li>#{session-small talk /}</li>
                    #{/list}
                    </ul>
                </div>
                #{/if}
                #{if member.getLightningTalks()}
                <div class="tab-pane" id="ligthnings">
                    <ul>
                    #{list items:member.getLightningTalks(), as:'lt'}
                        <li>#{session-small lt /}</li>
                    #{/list}
                    </ul>
                </div>
                #{/if}
                #{if member.interests}
                <div class="tab-pane" id="interets">
                    #{list items:member.interests, as:'interest'}
                    <a href="@{Application.searchByInterest(interest.name)}"><span class="label notice">${interest}</span></a>
                    #{/list}
                </div>
                #{/if}
                <div class="tab-pane" id="badges">
                    #{badges member.badges /}
                </div>
            </div>
        </div>
    </div>
</div>