#{extends 'main.html' /}
#{set title:messages.get('about.page.title') /}
#{set 'moreScripts'}
<style>
    p {
        text-align: justify;
    }

    #who img {
        width: 60%;
    }
</style>
#{/set}

<div class="hero-unit">
    <h1>Mix-IT</h1>
    <p>&{'about.long.description'}</p>
</div>

<h2><strong>&{'about.whois'}</strong></h2>

<div class="row" id="who">
    <div class="col-sm-6">
        <p style="text-align: center">
            <a href="http://www.lyonjug.org/" target="blank"><img src="@{'/public/images/logo-lyonjug.png'}" title="LyonJUG" /></a>
        </p>

        <h3 id="agnes">Agnès CREPET</h3>
        #{bio-on-about 'agnes', male:false /}

        <h3 id="cedric">Cédric EXBRAYAT</h3>
        #{bio-on-about 'cedric', male:true /}

        <h3 id="alexis">Alexis HASSLER</h3>
        #{bio-on-about 'AlexisHassler', male:true /}

        <h3 id="cyril">Cyril LACÔTE</h3>
        #{bio-on-about 'clacote', male:true /}

    </div>
    <div class="col-sm-6"> 
        <p style="text-align: center">
            <a href="http://www.clubagilerhonealpes.org/" target="blank"><img src="@{'/public/images/logo-cara.png'}" title="CARA" /></a>
        </p>

        <h3 id="romain">Romain COUTURIER</h3>
        #{bio-on-about 'romain', male:true /}

        <h3 id="franck">Franck DEPIERRE</h3>
        #{bio-on-about 'franck', male:true /}

        <h3 id="nicolas">Nicolas PELLOUX-PRAYER</h3>
        #{bio-on-about 'nicolas', male:true /}
    </div>
</div>
