#{extends 'main.html' /}
#{set title:messages.get('about.page.title') /}
#{set 'moreScripts'}
<style>
    p {
        text-align: justify;
    }
</style>
#{/set}

<div class="hero-unit">
    <h1>Mix-IT</h1>
    <p>&{'about.long.description'}</p>
</div>

<h2><strong>&{'about.whois'}</strong></h2>

<div class="row">
    <div class="col-sm-6">
        <p style="text-align: center">
            <a href="http://www.lyonjug.org/" target="blank"><img src="@{'/public/images/logo-lyonjug.png'}" title="LyonJUG" height="70px" /></a>
        </p>

        <h3 id="agnes">Agnès CREPET</h3>
        <p>
            Agnès Crépet est Java Champion et leader de deux Java User Groups&nbsp;:
            le <a href="http://www.lyonjug.org">Lyon JUG</a> et <a href="http://jduchess.org/duchess-france">Duchess France</a>.
            Elle est co-fondatrice, avec trois autres développeurs passionnés, de la société <a href="http://ninja-squad.fr">Ninja Squad</a>.
            Dans d'autres sphères, elle est présidente de l'association <a href="http://www.avataria.org/">Avataria</a>,
            organisatrice d'événements culturels et de FabLab dans des lieux du patrimoine industriel de sa ville&nbsp;!
            <br/>
            Suivez-la sur <a href="http://twitter.com/agnes_crepet">Twitter</a>, ou allez voir son <a href="@{Profile.show('agnes')}">profil</a>.
        </p>

        <h3 id="cedric">Cédric EXBRAYAT</h3>
        <p>
            Cédric est avant tout un passionné. Par son travail déjà et c'est une chance.
            Il tire toujours satisfaction à livrer un produit non seulement fonctionnel, mais aussi de qualité,
            en ayant aidé ses collègues à progresser et si possible en ayant découvert de nouvelles idées.
            Car il est aussi passionné par tout ce qui apparaît et qui transforme notre métier chaque jour.
            Il tient d'ailleurs un blog, <a href="http://hypedrivendev.wordpress.com/">Hype Driven Developement</a>,
            où il livre ses impressions sur les derniers frameworks à la mode, qu'il se fait un plaisir de tester.
            Vous pouvez aussi suivre ses découvertes sur <a href="http://twitter.com/cedric_exbrayat">Twitter</a>.
            Vous le croiserez souvent avec un sac de sport à l'épaule, car c'est également un junkie de sport,
            et particulièrement de running. Attention, sa présence au sein de votre équipe entraîne généralement une épidemie de remise en forme,
            arrêt de cigarette et perte de poids (voire même record personnel amélioré sur 10km ou marathon)&nbsp;!
            Dans l'autre main, il tiendra probablement un livre, roman ou ouvrage technique sur un framework dont vous
            aurez vaguement entendu parler (hype oblige&nbsp;!). Enfin, vous avez de fortes chances de le croiser bien entouré
            par d'autres passionnés de la région. Il a en effet créé, avant cette conférence,
            le <a href="http://www.lyonjug.org/">Lyon JUG</a>, dont il est président.
            <br/>
            Suivez-le sur <a href="http://twitter.com/cedric_exbrayat">Twitter</a> ou allez voir son <a href="@{Profile.show('cedric')}">profil</a>.
        </p>

        <h3 id="alexis">Alexis HASSLER</h3>
        <p>
            Alexis est développeur, architecte et formateur Java indépendant. Il est leader du <a href="http://www.lyonjug.org">Lyon JUG</a> et un des fondateurs du podcast <a href="http://www.cast-It.fr">Cast-IT</a>.
            Suivez-le sur <a href="http://twitter.com/AlexisHassler">Twitter</a>, <a href="https://plus.google.com/u/0/117951061342524071088/">G+</a> ou <a href="http://blog.alexis-hassler.com/">son blog</a>.
        </p>

        <h3 id="cyril">Cyril LACÔTE</h3>
        <p>
            Cyril, qui a participé au développement de ce site (notre <em>Berserker</em>!), est sorti de l'INSA en 2001, puis a travaillé une dizaine d'années en SSII pour varier les projets, comme développeur et formateur Java. Embauché par Google à Londres, il a tenté l'expérience, mais a finalement démissionné de cette boîte de rêve : le job cantonné à l'avant-vente l'éloignait trop de la technique. Désormais, il est free-lance.
            <br/>Suivez-le sur <a href="http://twitter.com/clacote">Twitter</a>, <a href="https://plus.google.com/114128610730314333831">G+</a> ou <a href="http://fr.linkedin.com/in/clacote">Linkedin</a>.
            <br/>
            Voir son <a href="@{Profile.show('clacote')}">profil</a>.
        </p>

    </div>
    <div class="col-sm-6"> 
        <p style="text-align: center">
            <a href="http://www.clubagilerhonealpes.org/" target="blank"><img src="@{'/public/images/logo-cara.png'}" title="CARA" height="70px"/></a>
        </p>

        <h3 id="romain">Romain COUTURIER</h3>
        <p>
            En tant que praticien, formateur et coach agile, il accompagne les équipes et les clients finaux sur leur projet de transformation organisationnelle par l'implantation des méthodes agiles comme processus de production.
            Romain est membre du <a href="http://www.clubagilerhonealpes.org/">Club Agile Rhône-Alpes</a>.

            Voir son <a href="@{Profile.show('romain')}">Profil</a>.
        </p>

        <h3 id="franck">Franck DEPIERRE</h3>
        <p>

            Franck fut d'abord un globe trotter en automation et depuis 10 ans se déchaîne dans la création de produit logiciel. Ayant trouvé dans les méthodes agiles des principes adaptés au monde logiciel, il l'a mise en place sur la gamme de produit logiciel dont il est responsable. Il se passionne désormais pour le lean entrepreneur, product management et technologies participatives.
            Franck est membre du <a href="http://www.clubagilerhonealpes.org/">Club Agile Rhône-Alpes</a>.

            Voir son <a href="@{Profile.show('franck')}">Profil</a>.
        </p>

        <h3 id="nicolas">Nicolas PELLOUX-PRAYER</h3>
        <p>
            Nicolas est développeur, scrummaster et passionné par le développement logiciel et la sécurité informatique. Après 5 ans passés sur les technologies C/C++ puis .Net il fait aujourd'hui du Java et s'essaye à transformer le monde du travail dans ses missions.
            Nicolas est membre du <a href="http://www.clubagilerhonealpes.org/">Club Agile Rhône-Alpes</a>.

            Voir son <a href="@{Profile.show('nicolas')}">Profil</a>.
        </p>
    </div>
</div>
