#{extends 'main.html' /}
#{set title:messages.get('about.page.title') /}
#{set 'moreStyles'}
<style>
    p {
        text-align: justify;
    }

    #who img {
        width: 60%;
    }
</style>
#{/set}

<div class="hero-unit">
    <h1>Mix-IT</h1>
    <p>&{'about.long.description'}</p>
</div>

<h2><strong>&{'about.whois'}</strong></h2>

<div class="row" id="who">
    <div class="col-sm-6">
        <p style="text-align: center">
            <a href="http://www.lyonjug.org/" target="blank"><img src="@{'/public/images/logo-lyonjug.png'}" title="LyonJUG" /></a>
        </p>
    </div>

    <div class="col-sm-6">
        <p style="text-align: center">
            <a href="http://www.clubagilerhonealpes.org/" target="blank"><img src="@{'/public/images/logo-cara.png'}" title="CARA" /></a>
        </p>
    </div>

</div>
<div class="row" id="who">
    <div class="col-md-4">
        <h3 id="agnes">Agnès CREPET</h3>
        #{bio-on-about 'agnes', male:false /}
    </div>

    <div class="col-md-4">
        <h3 id="alexis">Alexis HASSLER</h3>
        #{bio-on-about 'AlexisHassler', male:true /}
    </div>

    <div class="col-md-4">
        <h3 id="cyril">Cyril LACÔTE</h3>
        #{bio-on-about 'clacote', male:true /}
    </div>

    <div class="col-md-4">
        <h3 id="nicolas">Nicolas PELLOUX-PRAYER</h3>
        #{bio-on-about 'nicolas', male:true /}
    </div>

    <div class="col-md-4">
        <h3 id="mathieu">Mathieu PETITDANT</h3>
        #{bio-on-about 'mpetitdant', male:true /}
    </div>

    <div class="col-md-4">
        <h3 id="mathieu">Grégory ALEXANDRE</h3>
        #{bio-on-about 'gregalexandre', male:true /}
    </div>

    <div class="col-md-4">
        <h3 id="mathieu">Philippe CHARRIERE</h3>
        #{bio-on-about 'ph.charriere', male:true /}
    </div>

    <div class="col-md-4">
        <h3 id="mathieu">Sébastien DELEUZE</h3>
        #{bio-on-about 'sdeleuze', male:true /}
    </div>

    <div class="col-md-4">
        <h3 id="mathieu">Guillaume EHRET</h3>
        #{bio-on-about 'guillaumeehret', male:true /}
    </div>
</div>

<h2>Les fondateurs historiques</h2>
<p>
    Ils ont créé Mix-IT, mais sont depuis partis vers de nouvelles aventures.
    Depuis, leur esprit veille sur la conférence.
</p>

<h3 id="romain">Romain COUTURIER</h3>
#{bio-on-about 'romain', male:true /}

<h3 id="franck">Franck DEPIERRE</h3>
#{bio-on-about 'franck', male:true /}

<h3 id="cedric">Cédric EXBRAYAT</h3>
#{bio-on-about 'cedric', male:true /}
