#{extends 'main.html' /}
#{set title:'Accès site' /}

    <h1>Comment accéder au site?</h1>

<div class="row">
    <div class="span8">
        <h2>Lieu :<br/><a href="http://www.supinfo.com/lyon/">SUPINFO LYON</a></h2>
        <address>
        <br>Les Jardins d'Osaka<br/>
        <br>16 Rue Jean Desparmet<br/>
        <br>69008 LYON
        </address>
        Nous vous convions à privilégier les transports en commun, les vélos ou la marche pour venir à la conférence. C'est plus écologique et sachez aussi que les places de parking aux alentours de SUPINFO ne sont pas nombreuses!
    </div>
    <div class="span8">
        <a target="blank" href="http://maps.google.fr/maps/ms?msid=206102111040119224801.0004a81b8736d5f532de2&msa=0&ll=45.735924,4.87808&spn=0.006725,0.016512">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=45.735924,4.87808&zoom=15&size=366x366&maptype=roadmap&markers=color:blue|icon:http://www.supinfo.com/SupinfoCommonResources/SUPINFO-PICTURES/Symbols/IconeLogoSUPINFO_40x40.png|45.735751,4.877751&sensor=false" border="0"/>
        </a>
    </div>    
</div>

<div class="row">
    <div class="span8">
        <h2>En Vélo</h2>
        <p>Lyon possède un réseau de Vélo en libre service : <a target="blank" href="http://www.velov.grandlyon.com/">les Vélo'V</a>. Les stations les plus proches de SUPINFO sont les stations <strong>8058 Longefer / Krüger</strong> (10 rue Krüger), <strong>8040 Ambroise Paré</strong> (Face au 54 Boulevard Ambroise Paré) et <strong>8024 Mermoz / Michelet</strong> (Angle avenue Michelet).</p>
    </div>
    <div class="span8">
        <h2>En transports en commun</h2>
        <p>Voir les itinéraires précis sur le site du <a target="blank" href="http://www.velov.grandlyon.com/">réseau TCL</a> (Tram, Métro, Bus). La station de métro la plus proche de SUPINFO est <strong>Mermoz Pinel</strong> (SUPINFO sera fléché à la sortie du métro).</p>
    </div>
</div>
<div class="row">
    <div class="span8">
        <h2>En train</h2>
        <p>A partir de <strong>la Gare de Part-Dieu</strong>, prendre la Ligne de métro B, direction <strong>Stade de Gerland</strong>, changer à la station Saxe-Gambetta et prendre la Ligne D direction <strong>Gare de Vénissieux</strong>. S'arrêter à la station <strong>Mermoz Pinel</strong> (SUPINFO sera fléché à la sortie du métro).</p>
        <p>A partir de <strong>la Gare Perrache</strong>, prendre la Ligne de métro A, direction <strong>Charpennes</strong>, changer à la station Bellecour et prendre la Ligne D direction <strong>Gare de Vénissieux</strong>. S'arrêter à la station <strong>Mermoz Pinel</strong> (SUPINFO sera fléché à la sortie du métro).</p>
    </div>
    <div class="span8">
        <h2>En avion</h2>
        <p><a target="blank" href="http://www.lyonaeroports.com/">L'aéroport de Saint-Exupéry</a> est l'aéroport le plus proche de lyon. Grâce à la ligne de train express <a target="blank" href="http://www.rhonexpress.fr/">Rhône Express</a> (un train toutes les 15 minutes), vous êtes en 30 minutes au centre de Lyon, à la Gare Part-Dieu. </p>
        <p>A partir de <strong>la Gare de Part-Dieu</strong>, prendre la Ligne de métro B, direction <strong>Stade de Gerland</strong>, changer à la station Saxe-Gambetta et prendre la Ligne D direction <strong>Gare de Vénissieux</strong>. S'arrêter à la station <strong>Mermoz Pinel</strong> (SUPINFO sera fléché à la sortie du métro).</p>
    </div>
</div>

<h2>En voiture</h2>
<p>
    <strong>Arrivée par le Nord de Lyon (Autoroute A6):</strong>
    <ul>
        <li>Prendre la sortie 39C vers Part-Dieu de l'autoroute A6</li>
        <li>Prendre légèrement à droite sur le Cours Verdun Récamier</li>	
        <li>Continuer sur le Pont Gallieni</li>
        <li>Continuer sur l'avenue Berthelot sur 1,2 km</li>
        <li>Continuer sur l'avenue Jean Mermoz sur 700 m</li>
        <li>Prendre légèrement à gauche sur la rue du Professeur Morat puis continuez sur 25m</li>
        <li>Prendre à gauche sur Rue Jean Desparmet</li>
    </ul>
</p>
<p>
    <strong>Arrivée par le Sud de Lyon (Autoroute A7) ou l'Ouest de Lyon (Autoroute A43):</strong> 
    <ul>
        <li>Prendre la sortie D383 en direction de E70/Grenoble/Chambéry/Bourg/Genève/Périphérique/Saint-Fons</li>
        <li>Prendre la sortie A43 en direction de Parilly/Saint-Priest/Chambéry/Grenoble/Aéroport Saint-Exupéry</li>
        <li>Rester sur la file de droite et suivre Parilly pour rejoindre la rue Lionel Terray puis continuez sur 400 m</li>
        <li>Au rond-point, prendre la 4e sortie et continuer sur la rue Lionel Terray puis continuez sur 1,1 km</li> 
        <li>Au rond-point, prendre la 2e sortie sur l'avenue Jean Mermoz puis continuez sur 300 m</li> 	
        <li>Prendre la bretelle pour rejoindre l'avenue Jean Mermoz puis continuez sur 600 m</li>	
        <li>Prendre complétement à droite sur la rue du Professeur Morat puis continuez sur 10m</li>
        <li>Prendre à gauche sur la rue Jean Desparmet</li>
    </ul>
</p>        

<p>
    <strong>Arrivée par l'Est de Lyon (Autoroute A43):</strong>
    <ul>
        <li>Sur la fin de l'A43, prendre l'avenue Jean Mermoz et continuez sur 500m</li>
        <li>Prendre complétement à droite sur la rue du Professeur Morat puis continuez sur 10m</li>
        <li>Prendre à gauche sur la rue Jean Desparmet</li>
    </ul>
</p>
