#{extends 'main.html' /}
#{set title:'Accès site' /}

<div class="container">
    <div class="hero-unit">
        <h2>Comment accéder au site SupInfo?</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="span16">    
                <b>Lieu : SupInfo LYON</b>
                <p>Les Jardins d'Osaka, 16 Rue Jean Desparmet, 69008 LYON</p>
                <a href="http://maps.google.fr/maps/ms?msid=206102111040119224801.0004a81b8736d5f532de2&msa=0&ll=45.735924,4.87808&spn=0.006725,0.016512">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=45.735924,4.87808&zoom=15&size=366x366&maptype=roadmap&markers=color:blue|icon:http://www.supinfo.com/SupinfoCommonResources/SUPINFO-PICTURES/Symbols/IconeLogoSUPINFO_40x40.png|45.735751,4.877751&sensor=false" border="0"/></a>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h4>vélo</h4>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h4>TCL (tram, Métro, Bus)</h4>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h4>train</h4>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h4>avion</h4>
            </div>
        </div>
    </div>
</div>
