#{extends 'main.html' /}
#{set title:'Accès site' /}

    <h1>&{'venue.access.how-to'}</h1>

<div class="row">
    <div class="col-md-6">
        <h2>&{'venue.access.place'}<br/><a target="_blank" href="http://www.cpe.fr/">CPE Lyon</a></h2>
        <address>
            Rue Victor Grignard<br/>
            69100 Villeurbanne
        </address>
        <p>
        <strong>&{'venue.access.place.warning'}</strong>
        </p>
        <p>
            &{'venue.access.car.warning'}
        </p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710" width="400" height="300" frameborder="0" style="border:0"></iframe>
        <br /><small><a href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76" >&{'venue.access.open-map'}</a></small>
    </div>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>&{'venue.access.by-bike.title'}</h2>
        <p>
            &{'venue.access.by-bike.details'}
        </p>
    </div>
    <div class="col-md-6">
        <h2>&{'venue.access.by-public-transportation.title'}</h2>
        <p>
            &{'venue.access.by-public-transportation.details'}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>&{'venue.access.by-train.title'}</h2>
        <p>
            &{'venue.access.by-train.details.part-dieu'}
        </p>
        <p>
            &{'venue.access.by-train.details.perrache'}
        </p>
    </div>
    <div class="col-md-6">
        <h2>&{'venue.access.by-plane.title'}</h2>
        <p>
            &{'venue.access.by-plane.details'}
        </p>
        <p>
            &{'venue.access.by-train.details.part-dieu'}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>&{'venue.access.by-car.title'}</h2>
        <p>
            &{'venue.access.by-car.details'}
        </p>
    </div>
</div>

