#{extends 'main.html' /}
#{set title:'Contacts' /}

<div class="container">
    <div class="hero-unit">
        <h2>Contactez <a href="@{Infos.orga()}">l'organisation</a> en remplissant le formulaire suivant:</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="span12">
                <h4>Formulaire : TODO</h4>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h4>Utilisez Lanyrd également pour communiquez sur la conférence MIX-IT</h4>
            </div>
        </div>
    </div>
</div>