#{extends 'main.html' /}
#{set title:'Contact' /}

<h1>&{'contact.title'}</h1>

#{form @Infos.send(), class:'form'}
<fieldset>

    #{field 'email.email'}
        <div class="form-group ${field.error?'has-error':''}">
            <label for="${field.name}">&{field.name}</label>
            <input class="form-control" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" />
            <span class="help-block">${field.error}</span>
            <span class="help-block">&{field.name+".note"}</span>
        </div>
    #{/}

    #{field 'email.subject'}
    <div class="form-group ${field.error?'has-error':''}">
        <label for="${field.name}">&{field.name}</label>
        <input class="form-control" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" />
        <span class="help-block">${field.error}</span>
        <span class="help-block">&{field.name+".note"}</span>
    </div>
    #{/}

    <input type="hidden" name="randomId" value="${randomId}" />
    #{field 'captcha'}
    <div class="form-group ${field.error ? 'has-error' : ''}">
        <label for="${field.name}">&{field.name}</label>
        <img class="" src="@{Infos.captcha(randomId)}" alt="captcha" />
        <input class="form-control" type="text" name="${field.name}" id="${field.id}" size="5" maxlength="5" value="" />
        <span class="help-block">${field.error}</span>
        <span class="help-block">&{field.name+".note"}</span>
    </div>
    #{/field}

    #{field 'email.message'}
    <div class="form-group ${field.error?'has-error':''}">
        <label for="${field.name}">&{field.name}</label> 
        <textarea class="form-control" id="${field.id}" name="${field.name}" size="50" rows="10">${field.value}</textarea>
        <span class="help-block">${field.error}</span>
        <span class="help-block">&{field.name+".note"}</span>
    </div>
    #{/}

</fieldset>

<input type="submit" class="btn btn-default" value="Envoyer"/>
#{/form}
