#{extends 'main.html' /}
#{set title:'Contacts' /}

<h1>Envoi d'un message à l'organisation</h1>

#{form @Infos.send(), class:'form'}
<fieldset>

    #{field 'email.email'}
        <div class="form-group ${field.error?'has-error':''}">
            <label for="${field.name}">&{field.name}</label>
            <input class="form-control" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" />
            <span class="help-block">${field.error}</span>
            <span class="help-block">&{field.name+".note"}</span>
        </div><!-- /clearfix -->
    #{/}

    #{field 'email.subject'}
    <div class="form-group ${field.error?'has-error':''}">
        <label for="${field.name}">&{field.name}</label>
        <input class="form-control" id="${field.id}" name="${field.name}" size="30" type="text" value="${field.value}" />
        <span class="help-block">${field.error}</span>
        <span class="help-block">&{field.name+".note"}</span>
    </div><!-- /clearfix -->
    #{/}

    #{field 'email.message'}
    <div class="form-group ${field.error?'has-error':''}">
        <label for="${field.name}">&{field.name}</label> 
        <textarea class="form-control" id="${field.id}" name="${field.name}" size="50" rows="10">${field.value}</textarea>
        <span class="help-block">${field.error}</span>
        <span class="help-block">&{field.name+".note"}</span>
    </div><!-- /clearfix -->
    #{/}

</fieldset>

<input type="submit" class="btn btn-default" value="Envoyer"/>
#{/form}
