#{extends 'main.html' /}
#{set title:'Foire aux Questions' /}

<h1>&{'faq.title'}</h1>


<p><h4>&{'faq.time.question'}</h4>
&{'faq.time.answer'}
</p>

*{
<p><h4>&{'faq.login.question'}</h4>
&{'faq.login.answer',play.mvc.Router.reverse("Login.index")}
</p>
}*

<p><h4>&{'faq.registration.question'}</h4>
&{'faq.registration.answer',play.mvc.Router.reverse("Infos.inscription")}
</p>

<p><h4>&{'faq.billing.question'}</h4>
&{'faq.billing.answer'}
</p>

<p><h4>&{'faq.dif.question'}</h4>
&{'faq.dif.answer'}
</p>

<p><h4>&{'faq.gravatar.question'}</h4>
&{'faq.gravatar.answer'}

</p>
<p><h4>&{'faq.twitter.question'}</h4>
<p>&{'faq.twitter.answer'}</p>

*{
<p><h4>&{'faq.recording.question'}</h4>
<p>&{'faq.recording.answer'}</p>
}*