#{extends 'main.html' /}
#{set title:'Foire aux Questions' /}

<h1>Foire aux Questions</h1>

<p><h4>Inscription</h4>
Voir <a href="@{Infos.inscription()}">les informations détaillées</a> sur les inscriptions!
</p>
<p><h4>Comment changer l'image de votre profil?</h4>
Les avatars sont gérés par <a href="http://www.gravatar.com" target="_blank">Gravatar</a>.
Nous affichons l'avatar correspondant à l'email que vous nous indiquez sur votre profil.
Connectez-vous sur le site <a href="http://www.gravatar.com" target="_blank">Gravatar</a> pour créer ou modifier votre image.
</p>
<p><h4>Twitter</h4>
<a target=""blank" href="http://twitter.com/MixIT_Lyon">@MixIT_Lyon</a> est le compte Twitter de la conférence MIX-IT. Start to Follow it!</p>
<p><h4>Enregistrement des sessions</h4>
Toutes les sessions seront enregistrées au format audio (peut-être vidéo pour certaines) et seront disponibles après la conférence sur notre site!</p>
