#{extends 'main.html' /}
#{set title:'Foire aux Questions' /}

<div class="hero-unit">
    <h1>Foire aux Questions</h1>
</div>


<p><h4>Inscription</h4>
Les inscriptions seront ouvertes le <b>19 janvier</b>!
<!--Créer-vous <a href="@{Login.index()}">un compte MIX-IT</a> puis payez votre inscription via <a target="blank" href="http://www.weezevent.com">Weezevent</a> lorsque vous renseignerez votre profil MIX-IT.
Vous pouvez également passer directement par WeezEvent si vous ne voulez pas vous inscrire sur le site MIX-IT (mais ce serait dommage de ne pas le faire!) en cliquant sur l'icône ci-dessous.
#{inscription /}
-->
</p>
<p><h4>Twitter</h4>
<a target=""blank" href="http://twitter.com/MixIT_Lyon">@MixIT_Lyon</a> est le compte Twitter de la conférence MIX-IT. Start to Follow it!</p>
<p><h4>Enregistrement des sessions</h4>
Toutes les sessions seront enregistrées au format audio (peut-être vidéo pour certaines) et seront disponibles après la conférence ici-même!</p>
