#{extends 'main.html' /}
#{set title:'Hôtels près du Site' /}

<div class="container">
    <div class="hero-unit">
        <h2>Hôtels près du Site SupInfo?</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="span12">
                <h4>Hotel de la passe magique</h4>
            </div>
            <div class="row">
                <div class="span12">
                    <h4>Hotel rêve bleu</h4>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h4>Hotel Lyon ville de canniche</h4>
                </div>
            </div>
        </div>
    </div>
</div>