#{extends 'main.html' /}
#{set title:'Hôtels près du Site' /}

<div class="container">
    <div class="hero-unit">
        <h2>Hôtels à proximité du Site SupInfo</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="row">
                <div class="span12">
                    <h4><a target="blank" href="http://www.accorhotels.com/gb/hotel-8418-adagio-access-lyon/index.shtml">Hôtel Adagio Access Lyon Mermoz - ex Citea</a></h4>
                    <p>14 Rue Jacqueline Auriol, 69008 Lyon</p>
                    <p>Tel: 04 37 90 45 00</p>
                    <p>A partir de 60 euros la nuit</p>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h4><a target="blank" href="http://www.hotel-lyon-bioparc.com">Hôtel - Résidence Lyon Bioparc</a></h4>
                    <p>60 Avenue Rockefeller, 69008 Lyon</p>
                    <p>Tel: 04 78 77 18 18</p>
                    <p>A partir de 75 euros la nuit</p>
                </div>
            </div>
            <div class="span12">
                <h4><a target="blank" href="http://www.hotel-bb.com/reservation-hotel/hotel_info?hotelId=4195#hotel&utm_source=googlemap&utm_medium=2010&utm_campaign=googlemap">Hotel B&B</a></h4>
                <p>9 Rue Antoine Lumière, 69008 Lyon</p>
                <p>Tel: 0 892 78 80 60</p>
                <p>A partir de 62 euros la nuit</p>
            </div>
        </div>
    </div>
</div>