#{extends 'main.html' /}
#{set title:'Hôtels près du Site' /}

<div class="hero-unit">
    <h1>Hôtels à proximité</h1>
</div>

<address>
    <strong><a target="blank" href="http://www.accorhotels.com/gb/hotel-8418-adagio-access-lyon/index.shtml">Hôtel Adagio Access Lyon Mermoz - ex Citea</a></strong>
    <br>14 Rue Jacqueline Auriol, 69008 Lyon
    <br><abbr title="Téléphone">Tel.:</abbr> 04 37 90 45 00
    <br>A partir de 60&euro; la nuit
</address>


<address>
    <strong><a target="blank" href="http://www.hotel-lyon-bioparc.com">Hôtel - Résidence Lyon Bioparc</a></strong>
    <br>60 Avenue Rockefeller, 69008 Lyon
    <br><abbr title="Téléphone">Tel.:</abbr> 04 78 77 18 18
    <br>A partir de 75&euro; la nuit
</address>

<address>
    <strong><a target="blank" href="http://www.hotel-bb.com/reservation-hotel/hotel_info?hotelId=4195#hotel&utm_source=googlemap&utm_medium=2010&utm_campaign=googlemap">Hotel B&B</a></strong>
    <br>9 Rue Antoine Lumière, 69008 Lyon
    <br><abbr title="Téléphone">Tel.:</abbr> 0 892 78 80 60
    <br>A partir de 62&euro; la nuit
</address>
