#{extends 'main.html' /}
#{set title:'Inscription' /}


<h1>&{'registration.title'}</h1>
<p>&{'registration.directives'}</p>
#{if session.username}
<p><b>&{'registration.ticketing.signed'}</b></p>
<p>#{ticketing member/}</p>
#{/if}

#{if !session.username}
<ol>
    <li><h3><a href="@{Login.index()}">&{'registration.step1.create.account'}</a></h3>
        &{'registration.step1.create.account.why'}
    </li>
    <li><h3>&{'registration.step2.ticketing.unsigned'}</h3>
    &{'registration.step2.ticketing.unsigned.why'}
    </li>
</ol>


#{/if}

