#{extends 'main.html' /}
#{set title:'Inscription' /}

<div class="hero-unit">
    <h1>Inscription</h1>
</div>

<h3>L'inscription et son paiement sont réalisés par le partenaire <a target="blank" href="http://www.weezevent.com">Weezevent</a></h3>
<p>Incrivez-vous au plus vite : n'oubliez pas que le billet "Early Bird" à <b>30 euros</b> est disponible jusqu'au 1 mars 2012 minuit.
    Vous paierez <b>40 euros</b> pour une inscription à une date ultérieure.</p>

<a href="https://www.weezevent.com/widget_billeterie.php?id_evenement=12302&code=30544" onclick="var w=window.open('https://www.weezevent.com/widget_billeterie.php?id_evenement=12302&code=30544', 'Billetterie_weezevent', 'width=650, height=450, top=100, left=100, toolbar=no, resizable=yes, scrollbars=yes, status=no'); w.focus(); return false;"><img src="http://www.weezevent.com/images/statique/billetterie_en_ligne_v2_noir.png" alt="Billetterie en ligne" style="border:none" /></a> 