#{extends 'main.html' /}
#{set title:'Inscription' /}

<div class="hero-unit">
    <h1>Inscription</h1>
</div>

<!-- FIXME on January the 19th : the ticketing will open on January the 19th, not before!-->
<!--<p><h4>Les inscriptions seront ouvertes le <b>19 janvier</b>!</h4>-->
<p><h5>Le prix du billet est unique : <b>30 euros</b>.
    <br />
    Le paiement est effectué via notre partenaire <a target="blank" href="http://www.weezevent.com">Weezevent</a>
   </h5>
</p>
#{if session.username}
    <p>#{ticketing member/}</p>   
#{/if}
#{else}

<p><h5><a href="@{Login.index()}">Connectez-vous ou créer-vous un compte MIX-IT</a> puis payez votre inscription lorsque vous renseignerez votre profil MIX-IT</h5>
Vous pouvez également directement payer votre billet via notre partenaire Weezevent si vous ne voulez pas vous inscrire sur le site MIX-IT (mais ce serait dommage!). Pour ce faire, cliquez sur l'icône ci-dessous:
</p>
<a href="https://www.weezevent.com/widget_billeterie.php?id_evenement=13062&code=63337" onclick="var w=window.open('https://www.weezevent.com/widget_billeterie.php?id_evenement=13062&code=63337', 'Billetterie_weezevent', 'width=650, height=450, top=100, left=100, toolbar=no, resizable=yes, scrollbars=yes, status=no'); w.focus(); return false;"><img src="http://www.weezevent.com/images/statique/billetterie_en_ligne_v2_noir.png" alt="Billetterie en ligne" style="border:none" /></a>
#{/else}