#{extends 'main.html' /}
#{set title:'Kit Multimedia' /}

<div class="hero-unit">
    <h2>Kit Multimedia</h2>
</div>

<h3>Ressources disponibles:</h3>

<ul>
<li> <a class="brand" href="@{'/public/resources/logo-mixit.png'}"><img src="@{'/public/resources/logo-mixit.png'}" style="width:200px"/> </a> <a class="brand" href="@{'/public/resources/logo-mixit-black.png'}"><img src="@{'/public/resources/logo-mixit-black.png'}" style="width:200px"/> </li>
<li> <a class="brand" href="@{'/public/resources/logo-mixit-BW.png'}"><img src="@{'/public/resources/logo-mixit-BW.png'}" style="width:200px"/> </a><a class="brand" href="@{'/public/resources/logo-mixit-BW-black.png'}"><img src="@{'/public/resources/logo-mixit-BW-black.png'}" style="width:200px"/> </a></li>
<li> <a class="brand" href="@{'/public/resources/logo-mixit-sponsors.png'}"><img src="@{'/public/resources/logo-mixit-sponsors.png'}" style="width:200px"/> </a><a class="brand" href="@{'/public/resources/logo-mixit-sponsors-BW.png'}"><img src="@{'/public/resources/logo-mixit-sponsors-BW.png'}" style="width:200px"/> </a><a class="brand" href="@{'/public/resources/logo-mixit-sponsors-BW-black.png'}"><img src="@{'/public/resources/logo-mixit-sponsors-BW-black.png'}" style="width:200px"/> </a></li>
<li><a class="brand" href="@{'/public/resources/mixit-banner.png'}"><img src="@{'/public/resources/mixit-banner.png'}" style="width:500px"/> </a> </li>
<li>Disponible bientôt: Template de présentation pour les speakers</li></ul>
