#{extends 'main.html' /}
#{set title:'Kit Multimedia' /}

<div class="container">
    <div class="hero-unit">
        <h2>Kit Multimedia</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="span12">
                <h4>MIX-IT Logo</h4>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h4>Bannières</h4>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h4>Wallpaper</h4>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h4>Theme : les images haute résolutions du thème MIX-IT pourraient être downloadables sous forme de .zip</h4>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h4>Speaker Presentation Template</h4>
            </div>
        </div>
    </div>
</div>