#{extends 'main.html' /}
#{set title:'MixTeen' /}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2" style="margin-bottom: 2em;">
        <img src="/public/images/mixteen/logo-mixteen.png" alt="MixTeen" style="width:100%; text-align: center;"/>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p>Les enfants, on fait quoi pendant les vacances ? On programme !</p>

        <p>Pas besoin d’être un geek en herbe, pas besoin de passer son temps devant un ordinateur...</p>

        <p>Avec de la créativité et de la curiosité, il est possible de réaliser des programmes informatiques tout en s’amusant.</p>

        <p>Pour les parents : Proposez à vos enfants de comprendre l’informatique de façon ludique, avec des outils qui
            leur sont adaptés. Nous leur ferons découvrir les clés de la programmation.</p>

        <p>Pour les enfants : apprenez à créer vos mini-jeux, mini-films sur un ordinateur en venant programmer avec
            nous au MixTeen !</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Comment ca se passe?</h2>
    </div>
    <div class="col-md-4 text-center" style="margin-bottom: 1em;">
        <img src="/public/images/mixteen/algoid-turtle.gif" alt="Algoid" style="width: 163px; height: 250px"/>
    </div>
    <div class="col-md-8">
        <ul>
            <li>D'abord, il faudra s'inscrire en ligne, il y aura un trentaine de places.</li>
            <li>Puis rendez-vous le 30 avril à 13h30 à <a href="http://localhost:9000/infos/acces">CPE Lyon, Rue Victor Grignard, à Villeurbanne</a>
                sur le campus de la Doua. L'enfant peut venir avec son ordinateur portable ou sa tablette Android, mais il n'est pas exigé d'en avoir un.</li>
            <li>Une première série d'ateliers en binômes démarre. Plusieurs activités sont proposées aux enfants: Scratch, Algoïd...</li>
            <li>Un petit gouter</li>
            <li>Deuxième série d'ateliers, on fait tourner sur les activités</li>
            <li>Les enfants présentent leurs réalisations aux autres enfants et aux parents ébahis de tant de prouesses technologiques.</li>
            <li>Fin vers 18h00</li>
        </ul>
        <p>Une question? <a href="mailto:mixteen.lyon@gmail.com">Contactez-nous!</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>L'histoire de MixTeen</h2>
    </div>
    <div class="col-md-8">
        <ul>
            <li>Lors de la <a href="http://teach-world-code.appspot.com">keynote finale de de MixIT 2012</a>, Pamela Fox
                imaginait un monde où l'on apprend à coder dès notre plus
                jeune âge et fixe à chacun de nous un objectif: enseigner la programmation à une personne.</li>
            <li>Lors de l'édition Mix-IT 2013, Audrey Neveu et Aline Paponaud nous ont présenté
                <a href="http://www.youtube.com/watch?v=vr-MzXbHQUw&feature=youtu.be">l'intiative Programatoo qu'elles</a>
                mènent avec d'autres passionés.</li>
            <li>En octobre 2013, ce fut le cas lors d'un premier atelier le 5 octobre 2013, avec la participation essentielle
                d'Audrey Neveu. Les enfants purent découvrir <a href="http://scratch.mit.edu/" target="_blank">Scratch</a> et
                les premières joies du code ainsi que <a href=http://www.lego.com/fr-fr/mindstorms/">Lego Mindstorms</a>
                et l'apprentissage des bases de la robotique.</li>
            <li>En 2014, c'est parti, on lance notre propre atelier de programmation dans le cadre de Mix IT, c'est la
                naissance de MixTeen</li>
        </ul>
    </div>
    <div class="col-md-4 text-center" style="margin-bottom: 1em; margin-top: 1em;">
        <img src="/public/images/mixteen/scratchCat.jpg" alt="Scratch: forever, imagine, program, share" style="width:300px;height:169px"/>
    </div>
</div>
