#{extends 'main.html' /}
#{set title:'MixTeen' /}

<h1>MixTeen</h1>
<div class="row">
    <div class="col-md-4 text-center">
        <img src="/public/images/mixteen/scratchCat.jpg" alt="Scratch: forever, imagine, program, share" style="width:360px;height: 202px"/>
    </div>
    <div class="col-md-8">
        <p>Aujourd'hui, tout le monde est amené à utiliser un ordinateur, que ce soit dans la vie professionnelle ou personnelle.
        Mais ces utilisations sont souvent simplement consommées, en utilisant ce qui est proposé et élaboré par d?autres.</p>

        <p>Pourquoi ne pas être acteur, pourquoi ne pas créer les outils dont nous avons besoin ?
        Pourquoi ne pas inventer de nouveaux loisirs nous même ?</p>

        <p>Tout cela passe par la maitrise de ce qui contrôle un ordinateur ou une tablette.</p>

        <p>Et si demain les enfants pouvaient apprendre à coder comme ils apprennent à lire et compter ?
        Et si dès aujourd'hui, ils venaient le faire avec nous en s'amusant lors de nos ateliers MixTeen ?</p>
    </div>
</div>

<h2>Comment ca se passe?</h2>

<div class="row">
    <div class="col-md-8">
        <ul>
            <li>D'abord, il faut s'inscrire sur le site XXX, le nombre de places est limité à 30, donc il ne faut pas trop tarder.</li>
            <li>Puis rendez-vous le 30 avril à 13h30 (TODO) à <a href="http://localhost:9000/infos/acces">CPE Lyon, Rue Victor Grignard, à Villeurbanne</a>
                sur le campus de la Doua. L'enfant peut venir avec son ordinateur portable ou sa tablette Android, mais il n'est pas exigé d'en avoir un.</li>
            <li>Une première série d'ateliers en binômes démarre. Plusieurs activités sont proposées aux enfants: Scratch, Algoïd TODO</li>
            <li>Un petit gouter</li>
            <li>Deuxième série d'ateliers, on fait tourner sur les activités</li>
            <li>Les enfants présentent leurs réalisations aux autres enfants et aux parents ébahis de tant de prouesses technologiques.</li>
            <li>Fin vers 18h00</li>
        </ul>
    </div>
    <div class="col-md-4 text-center">
        <img src="/public/images/mixteen/algoid-turtle.gif" alt="Algoid" style="width: 163px; height: 250px"/>
    </div>
</div>

<h2>L'histoire de MixTeen</h2>
<ul>
    <li>Lors de la <a href="http://teach-world-code.appspot.com">keynote finale de de MixIT 2012</a>, Pamela Fox
        imaginait un monde où l'on apprend à coder dès notre plus
        jeune âge et fixe à chacun de nous un objectif: enseigner la programmation à une personne.</li>
    <li>Lors de l'édition Mix-IT 2013, Audrey Neveu et Aline Paponaud nous ont présenté
        <a href="http://www.youtube.com/watch?v=vr-MzXbHQUw&feature=youtu.be">l'intiative Programatoo qu'elles</a>
        mènent avec d'autres passionés.</li>
    <li>En octobre 2013, ce fut le cas lors d'un premier atelier le 5 octobre 2013, avec la participation essentielle
        d'Audrey Neveu. Les enfants purent découvrir <a href="http://scratch.mit.edu/" target="_blank">Scratch</a> et
        les premières joies du code ainsi que <a href=http://www.lego.com/fr-fr/mindstorms/">Lego Mindstorms</a>
        et l'apprentissage des bases de la robotique. TODO Mettre une photo</li>
    <li>En 2014, c'est parti, on lance notre propre atelier de programmation dans le cadre de Mix IT, c'est la
        naissance de MixTeen</li>
</ul>

<h2>Pourquoi apprendre à programmer aux enfants?</h2>
<div>Parce que programmer c'est:

<ul>
    <li>Comprendre le fonctionnement d'un ordinateur: mémoire, calcul, entrées (souris, clavier, capteurs), sorties (écran, moteurs)</li>
    <li>Etre logique et clair: un ordinateur est basique, c'est correct ou pas</li>
    <li>Expérimenter des idées, et se réjouir d'en voir une fonctionner</li>
    <li>Savoir découper un problème complexe en plusieurs problèmes plus simples</li>
    <li>Etre créatif: les possibilités sont infinies</li>
    <li>Manipuler des concepts abstraits: variables, fonctions?</li>
</ul>
</div>
