#{extends 'main.html' /}
#{set title:'Nos Sponsors' /}

<div class="hero-unit">
    <h1>Sponsors & Partenaires</h1>
</div>
<h3>Nos Sponsors</h3>
    <ul class="media-grid">
        #{list items:sponsors, as:'sponsor'}
        <li>
            <a href="@{Profile.show(sponsor.login)}"><img src="${sponsor.logoUrl}" style="width:160px"/>${sponsor.toString()}</a>
        </li>
        #{/list}
    </ul>
<h3>Nos partenaires</h3>
<p style="text-align: bottom"><a href="http://www.cloudbees.com/" target="blank"><img src="http://www.cloudbees.com/sites/all/themes/custom/cloudbees_zen/logo-color.png" style="float: left;padding: 10px" weight="110px" title="Powered by Cloudbees"/></a>Merci à <a href="http://www.cloudbees.com/" target="blank">Cloudbees</a> pour nous avoir mis gracieusement à disposition une plateforme Run@Cloud en mode <em>On-Demand</em> avec une base de donnnées MySQL en mode étendu et l'offre bronze de <a href="http://www.cloudbees.com/platform-service-sendgrid.cb" target="blank">Sendgrid</a>!</p>

