#{extends 'main.html' /}
#{set title:'Export de données' /}

<h1>Export de données<small>Ou comment combler Romain Couturier</small></h1>
<p>
    Export des <a href="@{Exports.exportSessions()}">propositions de sessions à valider</a>
</p>
<p>
    Export des <a href="@{Exports.exportSpeakers()}">speakers</a>
</p>
<p>
    Export des <a href="@{Exports.exportSpeakersWorkshop()}">speakers d'atelier</a>
</p>
<p>
    Export des <a href="@{Exports.exportSpeakersLightningTalk()}">speakers de Lightning Talk (propositions)</a>
</p>
<p>
    Export des <a href="@{Exports.exportMembers()}">membres</a>
</p>